/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

/***
 * Icons:
 */

@font-face {
	font-family: 'Icons';
	src: url('fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/**
 * Icon:
 * Use `.icon` HTML class with a specific icon type to display a desired icon.
 *
 *     @example
 *     div.example
 *      p.icon.icon--search Icon search (before element by default)
 *      p.icon.icon--after.icon--link Icon link (after element)
 *
 * By default all icons are set before elemets but you can use `.icon--after`
 * HTML class modifier to change that behaviour.
 */
.icon::before,
.icon--after::after {
	content: "";
	font-family: "Icons", Arial, Helvetica, sans-serif;
	font-size: inherit;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: .6rem;
	cursor: default;
	pointer-events: none;
}
	.icon::after,
	.icon--after::before {
		display: none;
	}
	.icon--after::after {
		display: inline-block;
		margin-left: 0;
		margin-left: .6rem;
	}
	.icon--sup::after,
	.icon--sup::before {
		vertical-align: text-bottom;
	}
	.icon--compact::after,
	.icon--compact::before {
		margin: 0;
	}
	.icon--notext {
		font-size: 0;
		vertical-align: middle;
	}
		.icon--notext::after,
		.icon--notext::before {
			margin: 0;
			padding: 0;
		}

	/**
	 * Icon sizes:
	 * Use the following HTML class modifiers to show icons in a different sizes:
	 * - `.icon--size-s` to display small icon
	 * - `.icon--size-m` to display medium icon
	 * - `.icon--size-l` to display large icon
	 *
	 *     @example
	 *     div.flex.flex--segmented
	 *      div.flex__item
	 *       span.icon.icon--size-s.icon--search Icon small
	 *      div.flex__item
	 *       span.icon.icon--size-m.icon--search Icon medium
	 *      div.flex__item
	 *       span.icon.icon--size-l.icon--search Icon large
	 */
	.icon--size-s::before,
	.icon--size-s.icon--after::after {
		font-size: 1rem;
	}
	.icon--size-m::before,
	.icon--size-m.icon--after::after {
		font-size: 1.8rem;
	}
	.icon--size-l::before,
	.icon--size-l.icon--after::after {
		font-size: 2.6rem;
	}

	/**
	 * Icon types:
	 * Look to the examples on the right side for applying different icon types for your needs.
	 *
	 *     @example
	 *     div.col.width-1-of-5
	 *      p.icon.icon--drop Drop
	 *     div.col.width-1-of-5
	 *      p.icon.icon--add Add
	 *     div.col.width-1-of-5
	 *      p.icon.icon--cancel Cancel
	 *     div.col.width-1-of-5
	 *      p.icon.icon--checkmark Checkmark
	 *     div.col.width-1-of-5
	 *      p.icon.icon--col-1 Column 1
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--col-2 Column 2
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--col-3 Column 3
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--complete Complete
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--delete Delete
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--download Download
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--drag Drag
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--edit Edit
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--expand Expand
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--external External
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--favorites Favorites
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--filter Filter
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--folder Folder
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--help Help
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--home Home
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--info Information
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--link Link
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--mashup Mashup
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--move Move
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--nav Navigation
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--padlock Padlock
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--search Search
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--settings Settings
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--star-1 Star 1
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--star-2 Star 2
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--view View
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--warning Warning
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--email Email
	 *     div.col.width-1-of-5.downwards-2
	 *      p.icon.icon--time Time
	 */
	.icon--drop::before,
	.icon--drop::after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid hsl(0, 0%, 80%);
	}
	.icon--star-1::before,
	.icon--star-1::after {
		color: hsl(209, 67%, 70%);
	}
	.icon--star-2::before,
	.icon--star-2::after {
		color: hsl(0, 0%, 74%);
	}

	/*
	 The following icons "content" were generated
	 using icomoon.io/app tool based on SVG files
	*/
	.icon--add:before,
	.icon--add:after {
	    content: "\e900";
	}
	.icon--cancel:before,
	.icon--cancel:after {
	    content: "\e901";
	}
	.icon--checkmark:before,
	.icon--checkmark:after {
	    content: "\e902";
	}
	.icon--close:before,
	.icon--close:after {
	    content: "\e903";
	}
	.icon--col-1:before,
	.icon--col-1:after {
	    content: "\e904";
	}
	.icon--col-2:before,
	.icon--col-2:after {
	    content: "\e905";
	}
	.icon--col-3:before,
	.icon--col-3:after {
	    content: "\e906";
	}
	.icon--complete:before,
	.icon--complete:after {
	    content: "\e907";
	}
	.icon--delete:before,
	.icon--delete:after {
	    content: "\e908";
	}
	.icon--download:before,
	.icon--download:after {
	    content: "\e909";
	}
	.icon--drag:before,
	.icon--drag:after {
	    content: "\e90a";
	}
	.icon--dropdown:before,
	.icon--dropdown:after {
	    content: "\e90b";
	}
	.icon--edit:before,
	.icon--edit:after {
	    content: "\e90c";
	}
	.icon--email:before,
	.icon--email:after {
	    content: "\e90d";
	}
	.icon--expand:before,
	.icon--expand:after {
	    content: "\e90e";
	}
	.icon--external:before,
	.icon--external:after {
	    content: "\e90f";
	}
	.icon--favorites:before,
	.icon--favorites:after {
	    content: "\e910";
	}
	.icon--filter:before,
	.icon--filter:after {
	    content: "\e911";
	}
	.icon--folder:before,
	.icon--folder:after {
	    content: "\e912";
	}
	.icon--gear:before,
	.icon--gear:after {
	    content: "\e913";
	}
	.icon--help:before,
	.icon--help:after {
	    content: "\e914";
	}
	.icon--home:before,
	.icon--home:after {
	    content: "\e915";
	}
	.icon--info:before,
	.icon--info:after {
	    content: "\e916";
	}
	.icon--link:before,
	.icon--link:after {
	    content: "\e917";
	}
	.icon--mashup:before,
	.icon--mashup:after {
	    content: "\e918";
	}
	.icon--move:before,
	.icon--move:after {
	    content: "\e919";
	}
	.icon--nav:before,
	.icon--nav:after {
	    content: "\e91a";
	}
	.icon--padlock:before,
	.icon--padlock:after {
	    content: "\e91b";
	}
	.icon--search:before,
	.icon--search:after {
	    content: "\e91c";
	}
	.icon--settings:before,
	.icon--settings:after {
	    content: "\e91d";
	}
	.icon--star-1:before,
	.icon--star-1:after {
	    content: "\e91e";
	}
	.icon--star-2:before,
	.icon--star-2:after {
	    content: "\e91f";
	}
	.icon--time:before,
	.icon--time:after {
	    content: "\e920";
	}
	.icon--view:before,
	.icon--view:after {
	    content: "\e921";
	}
	.icon--warning:before,
	.icon--warning:after {
	    content: "\e922";
	}
