/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list--definitions {
    line-height: 2.5;
    text-align: left;
}
.list--definitions .list__term,
.list--definitions .list__description {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 65%;
    line-height: 1.4;
}
.list--definitions .list__description {
    color: hsl(0, 0%, 0%);
    padding-left: .6rem;
}
.list--definitions .list__term {
    width: 30%;
    color: hsl(0, 0%, 40%);
    text-align: right;
    white-space: nowrap;
}
.list--definitions .list__term::after {
    content: ':';
}
.list--definitions-section {
    padding: 1em 0;
    border-top: solid 1px #eee;
}
