/*
	jQuery chosen plugin overrides
	https://github.com/harvesthq/chosen
*/

.chosen-container {
	width: 100% !important;
	position: relative;
	font-size: 1.3rem;
}
.chosen-container::after {
	content: "";
	position: absolute;
	right: 1rem;
	top: 50%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid hsl(0, 0%, 80%);
	pointer-events: none;
}
	.chosen-container-active::after,
	.chosen-container-single .chosen-search,
	.chosen-container-single .chosen-single div b,
	.select2-container--default .select2-selection--multiple .select2-selection__clear {
		display: none;
	}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	display: block;
	border: 1px solid hsl(0, 0%, 80%) !important;
	background: hsl(0, 0%, 100%);
	box-shadow: none;
	border-radius: 0;
	padding-top: .4rem;
	min-height: 36px;
	outline: none;
}
	.chosen-container-active .chosen-choices {
		border: 1px solid hsl(0, 0%, 75%);
		box-shadow: 0 0 6px 2px hsla(0, 0%, 40%, 0.1);
	}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	color: hsl(0, 0%, 80%);
}
.chosen-container-multi .chosen-choices li.search-choice {
	color: hsl(0, 0%, 20%);
	background: hsl(50, 81%, 94%);
	border: 1px solid hsl(50, 32%, 86%);
	border-radius: 4px;
	margin: .1rem .6rem 0 0;
	padding: .45rem 2rem .45rem .6rem;
	box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 6px;
	right: 4px;
}

.chosen-container .chosen-results {
	color: hsl(0, 0%, 40%);
	font-size: inherit;
	padding: .5rem 0;
	margin: 0;
}
	.chosen-container .chosen-drop {
		border: 1px solid #CCC;
		box-shadow: 0 0 6px 2px hsla(0, 0%, 40%, 0.1);
		margin-top: -1px;
	}
	.chosen-container-multi .chosen-drop .result-selected {
		color: hsl(0, 0%, 80%);
	}
	.chosen-container .chosen-results li {
		padding: 1rem;
	}
		.chosen-container .chosen-results li:nth-child(even),
		.chosen-container .chosen-results li.highlighted:nth-child(even) {
			background: hsl(0, 0%, 96%);
		}
		.chosen-container .chosen-results li.highlighted {
			color: hsl(0, 0%, 20%);
			background: inherit;
		}

.js-select--tags + .chosen-container.chosen-with-drop .chosen-drop {
	display: none;
}
.js-select--tags + .chosen-container::after {
	display: none;
}