/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(hsla(0, 0%, 0%, .4) 0, hsla(0, 0%, 0%, .85) 100%);
	overflow: auto;
	z-index: 500;
	-webkit-animation: fadeInDelayed .3s ease-out;
	animation: fadeInDelayed .3s ease-out;

}
.modal__dialog {
    display: block;
    position: relative;
    font-size: 1.4rem;
    padding: 4rem;
    margin: 4rem auto 2rem auto;
    background: #fff;
    width: 60%;
    border: 5px solid #F5F5F2;
    -webkit-animation: fadeInDownMoreDelayed .6s ease-out;
    animation: fadeInDownMoreDelayed .6s ease-out;
}

.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #0B41CD;
}
.modal__close:hover {
    color: hsl(0, 0%, 60%);
}

.modal__heading {
    color: #0B41CD;
    font-size: 2.1rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid #C2BAB5;
}
.modal__body {
    color: #000;
    line-height: 1.6;
    margin-top: 2em;
}
.modal__controls {
    margin-top: 4rem;
}
.modal__controls .button:not(:first-of-type) {
    margin-left: 1rem;
}