/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */


/***
 * Buttons:
 */

/**
 * Button:
 * Use `.button` HTML class to display a default button.
 *
 *     @example
 *     button.button Button default
 */
.button {
	color: hsl(0, 0%, 100%);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background: hsl(0, 0%, 73%);
	border: none;
	border-radius: 6px;
	padding: 0.9rem 1.2rem;
	cursor: pointer;
	margin: 0;
	transition: background .3s;
}
	.button:hover {
		text-decoration: none;
		background: hsl(0, 0%, 63%);
	}
	.button[disabled],
	.button[disabled] .icon,
	.button[disabled] .icon::before,
	.button[disabled] .icon::after {
		opacity: .5;
	}
	.button[disabled] {
		cursor: default;
		pointer-events: none;
	}

	/**
	* Button and icons:
	* Use button with icons by using icon component inside the button element.
	* See examples for more details.
	*
	*     @example
	*     button.button.button--type-1
	*      span.icon.icon--search Button with search icon
	*     button.button.button--type-2
	*      span.icon.icon--home Button with home icon
	*/
	.button.icon::after,
	.button.icon::before {
		color: hsl(0, 0%, 67%);
	}
	.button--transparent {
		padding: 0;
		margin: 0;
	}
	.button--transparent,
	.button--transparent:hover {
		color: inherit;
		background: none;
		border: none;
	}

	/**
	* Button sizes:
	* Use the following HTML class modifiers to show button in a different sizes:
	* - `.button--size-s` to display small button
	* - `.button--size-m` to display medium button
	* - `.button--size-l` to display large button
	*
	*     @example
	*     button.button.button--size-s Button small
	*     button.button.button--size-m Button medium
	*     button.button.button--size-l Button large
	*/
	.button--size-s {
		font-size: 1.3rem;
	}
	.button--size-m {
		font-size: 1.6rem;
	}
	.button--size-l {
		font-size: 2.1rem;
	}

	/**
	* Button types:
	* Use the following HTML class modifiers to display different button types:
	* - `.button--type-1`
	* - `.button--type-2`
	* - `.button--type-3`
	* - `.button--type-4`
	* - `.button--type-5`
	* - `.button--type-6`
	*
	*     @example
	*     button.button.button--type-1 Button type 1
	*     button.button.button--type-2 Button type 2
	*     button.button.button--type-3 Button type 3
	*     button.button.button--type-4 Button type 4
	*     button.button.button--type-5 Button type 5
	*     button.button.button--type-6 Button type 6
	*/
	.button--type-1 {
		background: #193e63;
	}
		.button--type-1:hover {
			background: hsl(210, 100%, 35%);
		}

	.button--type-2 {
		background: hsl(209, 66%, 70%);
	}
		.button--type-2:hover {
			background: hsl(209, 66%, 60%);
		}

	.button--type-3 {
		background: hsl(328, 49%, 68%);
	}
		.button--type-3:hover {
			background: hsl(328, 49%, 58%);
		}

	.button--type-4 {
		background: hsl(240, 34%, 59%);
	}
		.button--type-4:hover {
			background: hsl(240, 34%, 49%);
		}

	.button--type-5 {
		background: hsl(2, 64%, 58%);
	}
		.button--type-5:hover {
			background: hsl(2, 64%, 48%);
		}

	.button--type-6 {
		color: inherit;
		border: 1px solid hsl(209, 68%, 85%);
		border-radius: 6px;
		background: none;
	}
		.button--type-6:hover {
			border-color: hsl(210, 66%, 70%);
			background: none;
		}
