
/* login styles */
.login {
	position: relative;
	border: 1px solid hsl(0, 0%, 86%);
	padding: 6rem 6rem 5rem;
	background: #fff;
	box-shadow: 0 0 16px 1px hsl(0, 0%, 90%);
	z-index: 5;
    text-align: center;
}
.login__header {
    position: relative;
}
.login__header.icon::before {
    position: absolute;
    top: -4.5rem;
    right: -5rem;
    color: #C2BAB5;
    font-size: 2rem;
}
.login__heading-1 {
    color: hsl(0, 0%, 73%);
    font-size: 1.8rem;
}
.login__heading-2 {
    color: #0B41CD;
    font-size: 2.6rem;
}
.login .button {
    padding: 1.2rem 4rem;
}
/* END login styles */

.login__disclaimer {
    text-align: center;
    padding: 3em 2em 1em 2em;
}