/* TODO: Please, use HTML class "hidden" (available in helpers.css) instead of below */
div.hide {
    display:none !important;
}

.in-trash {
    display:none !important;
}

.hideFilter01 {
    display:none !important;
}

.hideFilter02 {
    display:none !important;
}

div.hideBox {
    display: none !important;
    border:1px solid red;
}

div.hideByQuery, div.hideByDocType {
    display: none !important;
}

/* TODO: Please, use HTML class "highlight" (available in theme-default.css) instead of below */
span.match {
    background: yellow;
}

/* TODO: Please, use HTML class modifier "button--disabled" instead of the following */
button:disabled, button:disabled:hover {
    background: #ebebeb;
}
.hideTwin {
    display: none !important;
    padding-left:100px;
    margin-left:100px;
    font-weight: bold !important;
}
.hideTwin * {
    font-weight: bold !important;
    color: red !important;
    font-size:350px;
}


button.clearX {
    display:inline-block;
}

div.specialCategory .row__heading {
    font-weight:bold;
    text-transform: uppercase;
}
.dashboard-categories .collapsible:nth-child(2) {
    padding-top:0px;
    margin-top:0px;
}