#mainPreloader,
.loader {
    position: fixed;
    z-index: 999;
}
#mainPreloader {
    background: hsla(0, 0%, 100%, .01);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.loader {
    left: 50%;
    top: 40%;
    width: 52px;
    height: 52px;
    border: 2px solid hsl(192, 100%, 50%);
    border-radius: 50%;
    -webkit-animation: spin 0.75s infinite linear;
    animation: spin 0.75s infinite linear;
}
    .loader::before,
    .loader::after {
        content: '';
        position: absolute;
        display: none;
        left: -2px;
        top: -2px;
        width: inherit;
        height: inherit;
        border: inherit;
        border-radius: inherit;
    }
    .loader--type-1,
    .loader--type-1::before {
        display: inline-block;
        border-color: transparent;
        border-top-color: hsl(192, 100%, 50%);
    }
    .loader--type-1::before {
        -webkit-animation: spin 1.5s infinite ease;
        animation: spin 1.5s infinite ease;
    }
