#notification-service {
    position: fixed;
    width: 98%;
    top: 0;
    left: 1%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    z-index: 999;
}
    #notification-service .notification-default {
        position: relative;
        color: hsl(0, 0%, 20%);
        background: hsl(0, 0%, 100%);
        padding: 1.5rem 2rem;
        border-top: 2px solid hsl(0, 0%, 100%);
        -webkit-animation: fadeInFromTop .2s ease-out;
        animation: fadeInFromTop .2s ease-out;
    }
    #notification-service .icon-holder {
        display: none;
    }
    #notification-service .red,
    #notification-service .orange,
    #notification-service .blue,
    #notification-service .silver {
        color: hsl(0, 0%, 100%);
        background: hsl(33, 100%, 45%);
    }
    #notification-service .blue,
    #notification-service .silver {
        background: hsl(210, 66%, 70%);
    }

/* animations */
@-webkit-keyframes fadeInFromTop {
    0% {
        opacity: 0;
        top: -2rem;
    }
    50% {
        top: -2rem;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes fadeInFromTop {
    0% {
        top: -2rem;
        opacity: 0;
    }
    50% {
        top: -2rem;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
/* END animations */