/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

/***
 * Messages:
 */

/**
 * Message:
 * Use `.message` HTML class to display a default message.
 *
 *     @example
 *     div.message
 *      div.message__header
 *       h4.message__heading Message heading
 *       button.message__button.button.button--transparent
 *        span.icon.icon--notext.icon--close Close
 *      div.message__body
 *       Message contents nullam vitae ipsum tristique, sodales nisi vitae, luctus dolor. Phasellus eu elementum lorem.
 *
 */
.message {
	position: relative;
	border: 1px solid #C2BAB5;
	padding: 2rem 3rem;
	color: #544F4F;
	font-size: 1.4rem;
	line-height: 1.4;
	margin: 1rem auto 2rem auto;
}
.message--compact {
    margin: 0;
}
.message__heading {
    font-size: 1.6rem;
    color: #000;
    margin: 0 0 1rem;
}
.message__button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #0B41CD;
}
.message__button .icon::after,
.message__button .icon::before {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

/**
* Messages types:
* Use the following HTML class modifiers to display different message types:
* - `.message--info`
* - `.message--succes`
* - `.message--error`
*
*     @example
*     div.message.message--info
*      div.message__header
*       h4.message__heading Info message heading
*       button.message__button.button.button--transparent
*        span.icon.icon--notext.icon--close Close
*      div.message__body
*       Message contents nullam vitae ipsum tristique, sodales nisi vitae, luctus dolor. Phasellus eu elementum lorem.
*
*     div.message.message--success
*      div.message__header
*       h4.message__heading Success message heading
*       button.message__button.button.button--transparent
*        span.icon.icon--notext.icon--close Close
*      div.message__body
*       Message contents nullam vitae ipsum tristique, sodales nisi vitae, luctus dolor. Phasellus eu elementum lorem.
*
*     div.message.message--error
*      div.message__header
*       h4.message__heading Error message heading
*       button.message__button.button.button--transparent
*        span.icon.icon--notext.icon--close Close
*      div.message__body
*       Message contents nullam vitae ipsum tristique, sodales nisi vitae, luctus dolor. Phasellus eu elementum lorem.
*
*/
.message--info {
    color: #000;
    background: #BDE3FF;
    border: 0;
}
.message--info .message__heading {
    color: #000;
}

.message--success {
    color: hsl(120, 19%, 52%);
    background: hsl(102, 44%, 92%);
    border: 0;
}
.message--success .message__heading {
    color: hsl(121, 33%, 35%);
}

.message--error {
    color: hsl(2, 38%, 59%);
    background: hsl(0, 43%, 91%);
    border: 0;
}
.message--error .message__heading {
    color: hsl(1, 44%, 46%);
}
