<!doctype html>
<html class="no-js">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-8">
        <title>pRED Portfolio Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

        <link href="favicon.ico" rel="shortcut icon">
    		<link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- modernizr detects browsers compatibility -->
        <script src="scripts/init/vendors/modernizr/modernizr.custom.js"></script>

        <!-- build:css(.) styles/bower-vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- normalize makes browsers render all elements more consistently -->
        <link rel="stylesheet" href="styles/init/vendors/normalize/normalize.css">

        <!-- theme -->
        <link rel="stylesheet" href="styles/init/theme/theme-base.css">
        <link rel="stylesheet" href="styles/init/theme/theme-default.css">
        <link rel="stylesheet" href="styles/init/theme/theme-animations.css">
        <link rel="stylesheet" href="styles/init/theme/theme-responsive.css">

        <!-- components -->
        <link rel="stylesheet" href="styles/init/components/helpers/helpers.css">
        <link rel="stylesheet" href="styles/init/components/dropdown/dropdown.css">
        <link rel="stylesheet" href="styles/init/components/button/button.css">
        <link rel="stylesheet" href="styles/init/components/icon/icon.css">
        <link rel="stylesheet" href="styles/init/components/form/form.css">
        <link rel="stylesheet" href="styles/init/components/list/list.css">
        <link rel="stylesheet" href="styles/init/components/message/message.css">
        <link rel="stylesheet" href="styles/init/components/tabs/tabs.css">
        <link rel="stylesheet" href="styles/init/components/modal/modal.css">

        <!-- vendors -->
        <link rel="stylesheet" href="styles/init/vendors/select2/select2.css">
        <link rel="stylesheet" href="styles/init/vendors/jbox/jbox.css">
        <link rel="stylesheet" href="styles/init/vendors/switchery/switchery.css">
        <link rel="stylesheet" href="styles/init/vendors/chosen/chosen.css">

        <!-- overrides -->
        <link rel="stylesheet" href="styles/init/overrides/select2/select2.css">
        <link rel="stylesheet" href="styles/init/overrides/sortable/sortable.css">
        <link rel="stylesheet" href="styles/init/overrides/jbox/jbox.css">
        <link rel="stylesheet" href="styles/init/overrides/chosen/chosen.css">


        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/preloader.css">
        <link rel="stylesheet" href="styles/state-signout.css">
        <link rel="stylesheet" href="styles/directive-report.css">
        <link rel="stylesheet" href="styles/directive-dashboard.css">
        <link rel="stylesheet" href="styles/directive-login.css">
        <link rel="stylesheet" href="styles/directive-modal-error.css">
        <link rel="stylesheet" href="styles/directive-navigation.css">
        <link rel="stylesheet" href="styles/directive-message.css">
        <link rel="stylesheet" href="styles/state-mashup.css">
        <link rel="stylesheet" href="styles/service-notification.css">
        <link rel="stylesheet" href="styles/state-administration-reports.css">
        <link rel="stylesheet" href="styles/hooks.css">
        <link rel="stylesheet" href="styles/connection-error.css">
        <!-- endbuild -->
    </head>

    <body ng-app="mainApp" ng-controller="GesturesCtrl as main" ng-swipe-left="main.actions.menu.close()" class="{{state.current.name}}" session-refresh>
        <style>
            div.hide, iframe.hide, .hideBox {
                display: none;
            }
        </style>
        <div id="mainPreloader" class="hide">
            <div class="loader loader--type-1 no-text">
                Please wait
            </div>
        </div>

        <div id="connectionError" class="hide">
            <div>
                <h1>Unable to connect to the server ...</h1>
                <p>Check your internet connection or contact directly<br/>with the technical operators:</p>
                <p><a href="mailto:GLOpREDPrtflDshbrd_TechnicalAdmins@msxdl.roche.com">GLOpREDPrtflDshbrd_TechnicalAdmins@msxdl.roche.com</a></p>
                <button class="button button--type-1 button--size-m font-type-1" onclick="document.location.reload()">Try Again</button>
            </div>
        </div>

        <iframe id="appLogin" class="hide"></iframe>

        <!-- announcement banner -->
        <div maintenance class="app__announcement hide"></div>
        <!-- END announcement banner -->

        <div class="mainContainer app" ng-class="{ 'app--login': !visibility }" ng-controller="AppuiCtrl">
            <!-- navigation and footer will be visible only if access is granted -->
            <navigation ng-show="visibility" class="navigation"></navigation>
            <div ui-view id="mainView" autoscroll="true"></div>

            <app-footer ng-show="visibility"></app-footer>
        </div>

        <div modal-error id="modal-error" class="hide"></div>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <script src="scripts/init/vendors/jquery/jquery-2.1.4.min.js"></script>

        <script src="scripts/init/vendors/fastclick/fastclick.js"></script>
        <script src="scripts/init/vendors/sortable/sortable.js"></script>
        <script src="scripts/init/vendors/select2/select2.js"></script>
        <script src="scripts/init/vendors/jbox/jbox.js"></script>
        <script src="scripts/init/vendors/switchery/switchery.js"></script>
        <script src="scripts/init/vendors/chosen/chosen.js"></script>
        <!--script src="scripts/init/app.js"></script-->

        <!-- build:js(.) scripts/vendor-body.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/hammerjs/hammer.js"></script>
        <script src="bower_components/angular-gestures/gestures.min.js"></script>
        <script src="bower_components/angular-cookie/angular-cookie.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/scripts-body.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/directives/navigation.js"></script>
        <script src="scripts/directives/session-refresh.js"></script>
        <script src="scripts/directives/footer.js"></script>
        <script src="scripts/directives/always-visible-menu.js"></script>
        <script src="scripts/controllers/signin.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/services/notification.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/appui.js"></script>
        <script src="scripts/controllers/report.js"></script>
        <script src="scripts/controllers/signout.js"></script>
        <script src="scripts/controllers/administration.js"></script>
        <script src="scripts/services/globalselectors.js"></script>
        <script src="scripts/services/httpinterceptor.js"></script>
        <script src="scripts/services/language.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/favorites.js"></script>
        <script src="scripts/filters/highlight.js"></script>
        <script src="scripts/controllers/mashupcreate.js"></script>
        <script src="scripts/controllers/mashup.js"></script>
        <script src="scripts/controllers/mashupview.js"></script>
        <script src="scripts/controllers/administrationcategories.js"></script>
        <script src="scripts/controllers/administrationtypes.js"></script>
        <script src="scripts/controllers/administrationgroups.js"></script>
        <script src="scripts/controllers/administrationreports.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <script src="scripts/services/mashuppolicy.js"></script>
        <script src="scripts/services/switchery.js"></script>
        <script src="scripts/directives/framesrc.js"></script>
        <script src="scripts/controllers/mashupedit.js"></script>
        <script src="scripts/directives/report.js"></script>
        <script src="scripts/directives/shortcut.js"></script>
        <script src="scripts/controllers/administrationmaintenance.js"></script>
        <script src="scripts/directives/maintenance.js"></script>
        <script src="scripts/controllers/gestures.js"></script>
        <script src="scripts/directives/mashup.js"></script>
        <script src="scripts/decorators/customexceptionhandlerdecorator.js"></script>
        <script src="scripts/directives/modal-report-delete.js"></script>
        <script src="scripts/directives/modal-report-edition.js"></script>
        <script src="scripts/services/watchers.js"></script>
        <script src="scripts/directives/modalerror.js"></script>
        <script src="scripts/directives/customtarget.js"></script>
        <script src="scripts/services/message.js"></script>
        <script src="scripts/directives/message.js"></script>
        <script src="scripts/services/preloader.js"></script>
        <!-- endbuild -->
    </body>
</html>
