/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */


.tabs {
	display: block;
	margin: 1rem auto;
}
	.tabs__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.tabs__nav-item {
		font-size: 1.6rem;
		color: hsl(0, 0%, 40%);
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		padding: .8rem 2.5rem;
		background: hsl(0, 0%, 97%);
		border: 1px solid hsl(0, 0%, 80%);
		margin-right: -6px;
		z-index: 0;
		cursor: pointer;
	}
		.tabs__nav-item.is-active,
		.tabs__nav-item:hover {
			color: hsl(0, 0%, 20%);
		}
		.tabs__nav-item.is-active {
			color: hsl(0, 0%, 0%);
			background: hsl(0, 0%, 100%);
			border-bottom-color: hsl(0, 0%, 100%);
			padding-bottom: 1.5rem;
			padding-top: 1rem;
			z-index: 1;
			cursor: default;
		}

	.tabs__body {
		color: hsl(0, 0%, 33%);
		line-height: 1.4;
		padding: 3rem;
		border: 1px solid hsl(0, 0%, 87%);
		margin-top: -1px;
	}
		.tabs__body-item {
			display: none;
		}
		.tabs__body-item.is-active {
			display: block;
		}
