/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(hsla(0, 0%, 0%, .4) 0, hsla(0, 0%, 0%, .85) 100%);
	overflow: auto;
	z-index: 500;
	-webkit-animation: fadeInDelayed .3s ease-out;
	animation: fadeInDelayed .3s ease-out;
    
}
	.modal__dialog {
		display: block;
		position: relative;
		font-size: 1.4rem;
		padding: 4rem;
		margin: 4rem auto 2rem auto;
		background: hsl(0, 0%, 100%);
		width: 60%;
		border: 5px solid hsl(0, 0%, 95%);
		-webkit-animation: fadeInDownMoreDelayed .6s ease-out;
		animation: fadeInDownMoreDelayed .6s ease-out;
	}

	.modal__close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		color: hsl(0, 0%, 80%);
	}
		.modal__close:hover {
			color: hsl(0, 0%, 60%);
		}

	.modal__heading {
		color: hsl(210, 100%, 40%);
		font-size: 2.1rem;
		padding-bottom: .6rem;
		border-bottom: 1px solid hsl(0, 0%, 80%);
	}
	.modal__body {
		color: hsl(0, 0%, 20%);
		line-height: 1.6;
		margin-top: 2.5em;
	}
	.modal__controls {
		margin-top: 4rem;
	}
		.modal__controls .button:not(:first-of-type) {
			margin-left: 1rem;
		}