/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */

.dropdown {
	position: relative;
	color: hsl(0, 0%, 40%);
	cursor: pointer;
}

.dropdown--preview {
    max-width: 340px;
}

.dropdown__body {
    display: none;
}

.dropdown__heading {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: hsl(0, 0%, 20%);
}

.dropdown__group {
    padding: 0 1rem;
}

.dropdown__group .dropdown__heading {
    margin: 0;
    padding: 0 0 .6rem;
}

.dropdown__option {
    display: block;
    /*color: hsl(0, 0%, 40%);*/
    text-decoration: none;
    margin: .6rem 0;
}

/*.dropdown__option:hover {
    color: hsl(0, 0%, 20%);
}*/

.dropdown__option .icon::before,
.dropdown__option .icon::after {
    color: #0B41CD;
}

.dropdown__divider {
    position: relative;
    border-bottom: solid 1px #eee;
}

.dropdown__thumb {
    padding: 2rem 2rem 1rem 2rem;
}
