<footer class="app__footer flex" role="contentinfo">
    <div class="flex__item flex__item--stretched app__copyrights font-type-2">
        <span>pRED Dashboard Portfolio</span> | <span>{{ENV.package.version}} {{ENV.name | uppercase}}</span>
    </div>

    <nav class="nav nav--secondary flex__item">
        <a href ng-click="actions.tellToNav('contact')" class="nav__item">contact</a>
    </nav>
</footer>