<div class="modal editReport" data-modalid="edit-report" ng-show="show">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">{{!createNew ? 'Edit' : 'Add new'}} report</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.close()">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <form novalidate name="form" class="formEdition">
                <div class="form__group">
                    <label class="form__label">Name</label>
                    <input class="form__input" type="text" placeholder="Provide report name" ng-model="main.contents.report.title" ng-required="true">
                </div>

                <div class="form__group">
                    <label class="form__label">Description</label>
                    <textarea class="form__input form__input--textarea" placeholder="Provide report description" ng-model="main.contents.report.descriptionShort" ng-required="true"></textarea>
                </div>

                <div class="form__group flex">
                    <div class="flex__item width-1-of-2 push-1">
                        <label class="form__label">Type</label>

                        <select name="reportType" class="form__input form__input--select js-select" ng-model="main.contents.report.docType" ng-required="true">
                            <option ng-repeat="docType in main.contents.docTypes | orderBy: 'title'" value="{{docType.id}}" ng-selected="docType.id === main.contents.report.docType.id">{{docType.title}}</option>
                        </select>
                    </div>

                    <div class="flex__item width-1-of-2 pull-1">
                        <label class="form__label">Category</label>
                        <select name="reportCategory" class="form__input form__input--select js-select" ng-model="main.contents.report.category" ng-required="true">
                            <option ng-repeat="category in main.contents.categories | orderBy: '+position'" ng-value="category.id" ng-selected="(category.id === main.contents.report.category.id)" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0">{{category.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form__group flex">
                    <div class="flex__item width-1-of-2 push-1">
                        <label class="form__label">Access group</label>
                        <select name="reportCategory" class="form__input form__input--select js-select" ng-model="main.contents.report.group" ng-required="true">
                            <option value="{{group.id}}" ng-repeat="group in main.contents.accessGroups | orderBy: '+position'" ng-selected="group.id === main.contents.report.group.id">{{group.name}}</option>
                        </select>
                    </div>

                    <div class="flex__item width-1-of-2 pull-1">
                        <label class="form__label">Cover Image</label>

                        <input type="file" class="form__input" ng-model="main.contents.report.coverPhoto" id="coverPhoto"/>
                    </div>
                </div>


                <div class="form__group">
                    <label class="form__label">Report link</label>
                    <a class="button button--transparent" href="help/admindoc.pdf#pagemode=bookmarks&nameddest=reportlink" target="_blank">
                            <span class="icon icon--help icon--sup font-color-1 js-tooltip" title="Report link tooltip contents" >
                                <span class="no-text">help</span>
                            </span>
                    </a>
                    <input class="form__input" type="text" placeholder="Provide report link" name="embedURL" ng-model="main.contents.report.embedURL" ng-pattern="/^(https?://.+|#/.+)/" ng-required="true"/>
                </div>

                <div class="form__group">
                    <label class="form__label">Mobile link</label>
                    <a class="button button--transparent" href="help/admindoc.pdf#pagemode=bookmarks&nameddest=mobreportlink" target="_blank">
                            <span class="icon icon--help icon--sup font-color-1 js-tooltip" title="Report link tooltip contents" >
                                <span class="no-text">help</span>
                            </span>
                    </a>
                    <input class="form__input" type="text" placeholder="Provide report link" name="embedURLMobile" ng-model="main.contents.report.embedURLMobile"/>
                </div>

                <div class="form__group">
                    <label class="form__label">Refresh information</label>
                    <input class="form__input" type="text" placeholder="Provide refresh information" name="refreshInformation" ng-model="main.contents.report.refreshInformation"/>
                </div>
            </form>
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-disabled="!form.$valid" ng-click="main.actions.save()">
                <span class="icon icon--complete icon--size-m">Save</span>
            </button>
            <button class="button" ng-click="main.actions.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>

    </div>
</div>