<div class="box box--type-5 box--multiple">
    <div class="box__category no-smooth"> MASHUP</div>
    <div class="box__header flex align-top">
        <h4 class="box__heading flex__item">
            <a ui-sref="mashup.view({id: item.id})" class="box__link" ng-bind-html="item.name | highlight:[query]"> ... </a>
        </h4>
    </div>

    <div class="box__body">
      <!-- Mashup thumbs -->
      <div class="box__thumbs">
          <div class="box__thumb" ng-repeat="prev in item.contents" ng-if="prev.isActive">
              <img ng-src="{{imgPath + '/' + prev.id}}" alt="">
          </div>
      </div>
      <!-- END mashup thumbs -->
      <div class="box__description">
          <p ng-bind-html="item.description | highlight:[query]">
              ...
          </p>
      </div>
    </div>
</div>
