<div class="modal" data-modalid="modal-report-delete" ng-show="show">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete report</h3>
            <button class="modal__close button button--transparent" ng-click="show = false">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete the category <span class="font-color-5">"{{title}}"</span> ?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="main.actions.remove()">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="show = false">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
