<div class="box-simple {{'box-simple--type-' + item.docType.imgFlagId}}" data-category-id="{{category.name}}" data-shortcut-id="{{item.id}}">
    <div class="box-simple__thumb">
        <img ng-src="{{coverImg}}" alt="">
    </div>
    <div class="box-simple__header">
        <h4 class="box-simple__heading">
            <a class="box-simple__link" href="{{ getUrl(item.embedURL) }}" ng-bind-html="item.title | highlight:[query]"></a>
        </h4>
    </div>
    <div class="box-simple__description">
        <p ng-bind-html="item.descriptionShort | highlight:[query]"></p>
    </div>
</div>
