<!-- app header -->
<header class="app__header app__header--filters" role="banner" id="mainHeader" always-visible-menu>
    <div class="flex">

        <!-- side navigation trigger -->
        <div class="flex__item js-sideNavTrigger">
            <button class="sideNav__trigger icon icon--nav icon--notext">
                Menu
            </button>
        </div>
        <!-- END side navigation trigger -->

        <div class="flex__item flex__item--stretched">
          <h1>
            <a href="#/home" class="logo logo--app no-text">
              pRED Portfolio Dashboard
            </a>
          </h1>
        </div>

        <!-- avatar -->
        <div class="avatar dropdown icon icon--drop" data-js="dropdown">
            <div class="avatar__thumb js-dropdown-trigger">
                {{user.name}}
            </div>

            <div class="dropdown__body font-type-2 no-smooth">
                <div class="dropdown__group dropdown__divider" ng-show="user.isSuperUser">
                    <a ui-sref="administration.reports" class="dropdown__option">
                        <span class="icon icon--settings">Administration</span>
                    </a>
                </div>

                <div class="dropdown__group">
                    <a ui-sref="signout" class="dropdown__option">
                        <span class="icon icon--close">Log out</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- END avatar -->

        <h2 class="logo logo--roche no-text">
            Roche
        </h2>
    </div>

    <nav class="nav nav--primary no-smooth" id="menu">
        <ul class="nav__items">
            <li class="nav__item">
                <a href="#/home" class="nav__link icon icon--home">
                    <span class="no-text">Home</span>
                </a>
            </li>

            <li class="nav__item" ng-repeat="category in categories | orderBy: '+position' track by $index">
                <a href="#/dashboard/{{category.id}}" ng-click="skipTo(category, $event)" class="nav__link" ng-if="isActive(category.isActive)">
                    {{category.name}}
                </a>
            </li>

            <li class="nav__item nav__item__dropdown">
                <div class="dropdown" data-js="dropdown">
                    <div class="nav__link js-dropdown-trigger">
                        <span class="icon icon--drop icon--after">
                            Help &amp; Info
                        </span>

                        <div class="dropdown__body">

                            <div class="dropdown__group ">
                                <h3 class="dropdown__heading">
                                    Help &amp; Information
                                </h3>
                                <div class="dropdown__option">
                                    <a ng-click="actions.about.open()" class="no-underline">
                                        About pRED Portfolio Dashboard
                                    </a>
                                </div>
                                <div class="dropdown__option">
                                    <a ng-click="actions.contact.open()" class="no-underline">
                                        Contact
                                    </a>
                                </div>
                                <!--<div class="dropdown__option">
                                    <a href="help/userdoc.pdf#pagemode=bookmarks&nameddest=contents" class="no-underline" target="_blank">
                                        Help
                                    </a>
                                </div>
                                <div class="dropdown__option" ng-show="user.isSuperUser">
                                    <a href="help/admindoc.pdf#pagemode=bookmarks&nameddest=contents" class="no-underline" target="_blank">
                                        Help for admins
                                    </a>
                                </div>

                                <div class="dropdown__option">
                                    <a href="http://bo.roche.com" class="flex no-underline"  target="_blank">
                                        <span class="flex__item">
                                            Support for Business Objects
                                        </span>
                                        <div class="flex__item pull-1">
                                            <img src="images/links_sap.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                -->
                                <div class="dropdown__option">
                                    <a href="http://go.roche.com/spotfire" class="flex no-underline"  target="_blank">
                                        <span class="flex__item">
                                            Support for Spotfire
                                        </span>
                                        <div class="flex__item pull-1">
                                            <img src="images/links_spotfire.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <!-- need to append dashboard's subheader here -->
</header>
<!-- END app header -->

<!-- side navigation -->
<nav class="sideNav font-type-2 no-smooth" ng-click="hideMobileMenu()" >
    <ul class="sideNav__items">
        <li class="sideNav__item" ng-click="actions.goto('home')">
            <a class="sideNav__link icon icon--home icon--size-l">
                Home
            </a>
        </li>

        <li class="sideNav__item" ng-class="{'nav__item--disabled': category.child === 0}" ng-repeat="category in categories | orderBy: '+position' track by $index" ng-if="(!category.overrideWithDirective.length || category.overrideWithDirective.length === 0)">
            <a href="#/dashboard/{{category.id}}" class="nav__link" ng-click="skipTo(category, $event)">
                {{category.name}}
            </a>
        </li>

        <li class="sideNav__item">
            <div class="sideNav__link">
                        <span class="icon icon--dropdown icon--after">
                            Help &amp; Info
                        </span>
            </div>

            <ul class="sideNav__items">

                <li class="sideNav__heading">
                    Help &amp; Information
                </li>
                <li class="sideNav__item">
                    <a ng-click="actions.about.open()" class="sideNav__link">
                        About pRED Portfolio Dashboard
                    </a>
                </li>
                <li class="sideNav__item">
                    <a ng-click="actions.contact.open()" class="sideNav__link">
                        Contact
                    </a>
                </li>
                <li class="sideNav__item">
                    <a href="help/userdoc.pdf#pagemode=bookmarks&nameddest=contents" target="_blank" class="sideNav__link">
                        Help
                    </a>
                </li>
                <li class="sideNav__item" ng-show="user.isSuperUser">
                    <a href="help/admindoc.pdf#pagemode=bookmarks&nameddest=contents" target="_blank" class="sideNav__link">
                        Help for admins
                    </a>
                </li>
                <!--
                <li class="sideNav__item">
                    <a href="http://bo.roche.com" class="sideNav__link"  target="_blank">
                        Support for Business Objects
                    </a>
                </li>
                -->
                <li class="sideNav__item">
                    <a href="http://go.roche.com/spotfire" class="sideNav__link"  target="_blank">
                        Support for Spotfire
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- END side navigation -->

<!-- MODAL WINDOWS : stars here -->

<!-- About : starts here -->
<div class="modal" data-modalid="modal-about" ng-show="states.modals.about">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">About</h3>
            <button class="modal__close button button--transparent" ng-click="actions.about.close()">
                        <span class="icon icon--close icon--notext icon--size-m">
                            Close dialog
                        </span>
            </button>
        </div>

        <div class="modal__body">
            <dl class="list list--definitions">
                <dt class="list__term">Application name</dt>
                <dd class="list__description">pRED Portfolio Dashboard</dd>

                <dt class="list__term">Environment</dt>
                <dd class="list__description">{{contents.environment.name | uppercase}}</dd>
            </dl>

            <dl class="list list--definitions list--definitions-section">
                <dt class="list__term">Version</dt>
                <dd class="list__description">{{contents.environment.package.version}}</dd>

                <dt class="list__term">Description</dt>
                <dd class="list__description">
                    What is updated in pRED Dashboard 2.0:<br>
                    The primary focus of the new version is to enhance user experience and ensure integration across the many existing platforms.
                    <ul>
                        <li>An initial <strong>Landing Page</strong> to help direct you to the appropriate resources,</li>
                        <li><strong>Streamlined Reports</strong> - including new additions and synergizing existing materials,</li>
                        <li><strong>Universal Access</strong> - All materials available to all Dashboard customers - Go Radical Transparency,</li>
                        <li><strong>Direct Access</strong> to other platforms - Links to RDPinsights, TIGER, PorTos etc. - let pRED Dashboard be your one bookmark to everything.</li>
                    </ul>
                    All the reports are based on <i>live</i> data from Tiger and RDP modules via a database with an integrated data layer, meaning time-sensitive data is captured and formatted promptly and meaningfully to support decision-making.
                </dd>
            </dl>

            <dl class="list list--definitions list--definitions-section">
                <dt class="list__term">Version</dt>
                <dd class="list__description">1.0.0</dd>

                <dt class="list__term">Description</dt>
                <dd class="list__description">
                    pRED Portfolio Dashboard offers views to the pRED Portfolio and provides “one version of the truth” by way of:
                    <ul>
                        <li>official PDF reports stamped by the Portfolio Planning & Decision Analysis (PPDA) group,</li>
                        <li>dynamic visualization of pRED Portfolio metrics and analyses via Spotfire and Business Objects reports,</li>
                        <li>static reports in PowerPoint and Excel formats.</li>
                    </ul>
                    All the reports are based on <i>live</i> data from PlanSource modules via a database with an integrated data layer, meaning time-sensitive data is captured and formatted promptly and meaningfully to support decision-making.
                </dd>
            </dl>
        </div>

        <div class="modal__controls">
            <button class="button" ng-click="actions.about.close()">Close</button>
        </div>
    </div>
</div>
<!-- About : ends here -->

<!-- Contact : starts here -->
<div class="modal" data-modalid="modal-contact" ng-show="states.modals.contact">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Contact</h3>
            <button class="modal__close button button--transparent" ng-click="actions.contact.close()">
                        <span class="icon icon--close icon--notext icon--size-m">
                            Close dialog
                        </span>
            </button>
        </div>

        <div class="modal__body">

            <!-- contact item -->
            <div class="contact flex align-top">
                <div class="contact__thumb flex__item width-custom-1">
                    <img src="images/contact/chomieno.jpg" alt="">
                </div>
                <div class="contact__details flex__item flex__item--stretched pull-2">
                    <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth">
                        Odile Chomienne
                    </h3>

                    <div class="font-color-3 upwards-1">
                        Application Manager and main contact for granting access to reports and for report content issues. Also secondary contact for technical issues.
                    </div>

                    <div class="font-color-2">
                        <a href="mailto:odile.chomienne@roche.com" class="no-underline">
                            <span class="icon icon--email">
                                odile.chomienne@roche.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END contact item -->


            <!-- contact item -->
            <div class="contact flex align-top downwards-4">
                <div class="contact__thumb flex__item width-custom-1">
                    <img src="images/contact/neumuelm.jpg" alt="">
                </div>
                <div class="contact__details flex__item flex__item--stretched pull-2">
                    <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth">
                        Marina Neumueller
                    </h3>

                    <div class="font-color-3 upwards-1">
                        Application Manager Deputy and secondary contact for granting access to reports.
                    </div>

                    <div class="font-color-2">
                        <a href="mailto:marina.neumueller@roche.com" class="no-underline">
                          <span class="icon icon--email">
                              marina.neumueller@roche.com
                          </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END contact item -->

            <!-- contact item -->
            <div class="contact flex align-top downwards-4">
                <div class="flex__item width-custom-1">

                </div>
                <div class="contact__details flex__item flex__item--stretched pull-2">
                    <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth">
                      Contact for technical issues
                    </h3>

                    <div class="font-color-2">
                        <a href="mailto:GLOpREDPrtflDshbrd_TechnicalAdmins@msxdl.roche.com" class="no-underline">
                            <span class="icon icon--email">
                                team of technical operators
                            </span>
                        </a>


                    </div>
                </div>
            </div>
            <!-- END contact item -->


            <!-- contact item -->
            <div class="contact flex align-top downwards-4">
                <div class="flex__item width-custom-1">

                </div>
                <div class="contact__details flex__item flex__item--stretched pull-2">
                    <div class="font-color-3 upwards-1">
                      When there is an issue with the Spotfire reports, a ticket in the Service Portal should be opened at this address:
                    </div>

                    <div class="font-color-2">
                        <a href="https://roche.service-now.com/service_portal/?id=sc_cat_item&sys_id=c14b33b34f956f84c93809de0310c7a0" target="_blank" class="no-underline">
                          https://roche.service-now.com/service_portal/?id=sc_cat_item&sys_id=c14b33b34f956f84c93809de0310c7a0
                        </a>


                    </div>
                </div>
            </div>
            <!-- END contact item -->

        </div>

        <div class="modal__controls">
            <button class="button" ng-click="actions.contact.close()">Close</button>
        </div>
    </div>
</div>

<!-- Contact : ends here -->
<!-- MODAL WINDOWS : ends here -->
