<!-- message -->
<div class="directive-message">
    <div class="message message--{{type || 'success'}} animate-fadeIn">
        <div class="message__header">
            <h4 class="message__heading">
                {{title}}
            </h4>
            <button class="message__button button button--transparent" title="Close this message" ng-click="actions.remove()">
                <span class="icon icon--notext icon--close">
                    Close
                </span>
            </button>
        </div>

        <div class="message__body">
            <p ng-transclude></p>
        </div>
    </div>
</div>
<!-- END message -->