<div class="box {{'box--type-' + item.docType.imgFlagId}}" ng-class="{'js-sortable__handle': bodySortable}" data-category-id="{{category.name}}" data-report-id="{{item.id}}">
    <div class="box__category no-smooth"> {{item.docType.title}} </div>
    <div class="box__header flex align-top">
        <button class="button button--transparent flex__item" ng-click="favMethod($event, item.id)">
            <span class="icon icon--notext" ng-class="{'icon--star-2': !favData[item.id], 'icon--star-1': favData[item.id]}">
                Add to favorites
            </span>
        </button>
        <h4 class="box__heading flex__item">
            <a class="box__link" ng-show="openReportMethod" ng-href="{{!isExternalResource ? getStateUrl(item.id) : trustUrl(countAPI + '/' + item.id)}}" target="{{isExternalResource ? '_blank' : '_self'}}" ng-bind-html="item.title | highlight:[query]" ng-if="!isExternalResource && item.docType.title != 'Shortcut'"></a>
            <a class="box__link" href="{{ getUrl(item) }}" target="_blank'" ng-bind-html="item.title | highlight:[query]" ng-if="isExternalResource && item.docType.title != 'Shortcut'"></a>
            <a class="box__link" href="{{ item.embedURL }}" target="_blank" ng-bind-html="item.title | highlight:[query]" ng-if="item.docType.title == 'Shortcut'"></a>
            <span ng-bind-html="item.title | highlight:[query]" ng-show="!openReportMethod"></span>
        </h4>

    </div>
    <div class="box__body">
      <div class="box__thumb">
          <img ng-src="{{coverImg}}" alt="">
      </div>
      <div class="box__updated" ng-show="item.refreshInformation.length > 0">
          <span class="icon icon--time icon--compact">
              {{item.refreshInformation}}
          </span>
      </div>

      <div class="box__description">
          <p ng-bind-html="item.descriptionShort | highlight:[query]"></p>
      </div>


      <div class="box__buttons" ng-show="sortable && bodySortable">
          <button class="button button--type-5" ng-click="$parent.main.actions.remove(item.id) || $parent.action.remove(item.id)">
              <span class="icon icon--delete">Remove from mashup</span>
          </button>
      </div>

      <div class="box__controls box__controls--draggable js-sortable__handle" ng-show="sortable && bodySortable">
          <span class="icon icon--move">
              Drag here to rearrange
          </span>
      </div>
    </div>

    <div class="box__actions" ng-show="sortable && bodySortable">

        <div class="button button--transparent dropdown js-preview">
            <span class="icon icon--info icon--notext">
                Preview
            </span>
            <div class="dropdown__body">
                <div class="dropdown__group">
                    <span class="category smaller" ng-class="'category--type-' + item.docType.imgFlagId">
                            {{item.docType.title}}
                    </span>
                </div>

                <div class="dropdown__group">
                    {{item.descriptionShort}}
                </div>

                <div class="dropdown__group">
                    <div class="dropdown__thumb">
                        <img ng-src="{{coverImg}}" alt="">
                    </div>
                </div>

                <div class="dropdown__group box__refreshInfo" ng-show="item.refreshInformation.length > 0">
                    <span class="icon icon--time icon--compact">
                      {{item.refreshInformation}}
                    </span>
                </div>
            </div>
        </div>


        <div class="button button--transparent js-sortable__handle js-sortable__handle">
            <span class="icon icon--move icon--notext">
                Drag here to rearrange
            </span>
        </div>
    </div>

    <!-- only for draggable/sortable reports -->
    <div class="box__controls box__controls--draggable js-sortable__handle" ng-if="sortable">
        <span class="icon icon--move">Drag here to rearrange</span>
    </div>
</div>
