<!-- Error Message : container : starts here -->
<div class="modal" data-modalid="modal-angular-error">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">General Error</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.close()">
                    <span class="icon icon--close icon--notext icon--size-m">
                        Close dialog
                    </span>
            </button>
        </div>

        <div class="modal__body">
            <p><strong>Important</strong>: Please send this error message to <a href="mailto:GLOpREDPrtflDshbrd_TechnicalAdmins@msxdl.roche.com">GLOpREDPrtflDshbrd_TechnicalAdmins@msxdl.roche.com</a>.</p>
            <div class="log" contenteditable="true">

            </div>
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-click="main.actions.close()">Close</button>
        </div>
    </div>
</div>
<!-- Error Message : container : ends here -->
