<main class="app__main dashboard-categories">
    <div class="{{category.overrideWithDirective}}" ng-repeat="category in categories | orderBy: '+position'" id="category-{{category.id}}" ng-show="category.isActive  || isUndefined(category.isActive)" >
        <div>
            <div shortcut class="col width-1-of-4 width-scalable boxElement" ng-repeat="item in category.items | orderBy: '+position'" doctype-id="{{item.docType.id}}" ng-show="item.isActive" ng-body="item" ng-category="category" ng-fav-method="toggleFavorites" ng-fav-data="favData" ng-open-report-method="openReport" ng-is-sortable="false" ng-query="query"></div>
        </div>
    </div>
</main>