<div class="flex-alt animate-fadeInDelayed">
    <div class="flex__item flex__item--stretched font-type-2 font-size-m">
        <span class="icon icon--filter">{{main.contents.groups.length}} {{main.contents.groups.length === 1 ? 'item' : 'items'}}</span>
    </div>

    <div class="flex__item">
        <button class="button button--type-1 font-type-2 font-size-s" ng-click="main.actions.group.add.open()">
            <span class="icon icon--add">Add new access group</span>
        </button>
    </div>
</div>

<div class="rows font-size-m js-sortable groups animate-fadeInDelayed">

    <div class="row flex-alt js-sortable__draggable group" ng-repeat="group in main.contents.groups | orderBy: '+position' track by $index" group-id="{{group.id}}">
        <div class="flex__item flex__item--stretched">
            <div class="row__controls col push-1">
                <div class="button button--transparent js-sortable__handle">
                    <span class="icon icon--move icon--notext icon--size-m">
                        Drag and drop to change the order
                    </span>
                </div>
            </div>

            <div class="row__heading col push-2 font-type-2">
                {{group.name | uppercase}}
            </div>

            <!-- row actions -->
            <div class="col row__actions">
                <button class="button button--transparent" ng-click="main.actions.group.edit.open(group.id)">
                    <span class="icon icon--edit icon--notext icon--size-m">
                        Edit
                    </span>
                </button>

                <button class="button button--transparent" ng-click="main.actions.group.remove.open(group.id, group.name)">
                    <span class="icon icon--delete icon--notext icon--size-m">
                        Delete
                    </span>
                </button>
            </div>
            <!-- END row actions -->
        </div>
    </div>


</div>

<!-- deletion modal dialog -->
<div class="modal" data-modalid="remove-group" ng-show="main.states.removalModal">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete access group</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.group.remove.close()">
                    <span class="icon icon--close icon--notext icon--size-m">
                        Close dialog
                    </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete the access group <span class="font-color-5">"{{main.contents.activeGroupName | uppercase}}"</span> ?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="main.actions.group.remove.save()">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="main.actions.group.remove.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- END modal dialog -->

<!-- add / edit modal dialog : starts here -->
<div class="modal editReport" data-modalid="add-group" ng-show="main.states.editionModal" id="state-admin-groups">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">{{main.contents.activeRecord !== null ? 'Edit' : 'Add new'}} access group</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.group.add.close()">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <form novalidate name="form" class="formGroupEdition">
                <div class="form__group">
                    <label class="form__label">Name</label>
                    <input class="form__input" type="text" placeholder="Provide access group name" ng-model="main.form.edition.name" required>
                </div>
                <div class="form__group">
                    <label class="form__label">Active Directory groups</label>
                    <select name="reportAccessGroup"
                            class="form__input form__input--select js-select--tags" data-placeholder="Provide (e.g. paste) exact Active Directory group name" multiple>
                    </select>
                </div>

            </form>
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-disabled="!form.$valid" ng-click="main.contents.activeRecord !== null ? main.actions.group.edit.save() : main.actions.group.add.save()">
                <span class="icon icon--complete icon--size-m">Save</span>
            </button>
            <button class="button" ng-click="main.actions.group.add.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- add / edit modal dialog : ends here -->
