<!-- message -->
<div class="message message--success animate-fadeIn" ng-if="main.states.showConfirmationBox">
    <div class="message__header">
        <h4 class="message__heading">
            Mashup has been saved
        </h4>
        <button class="message__button button button--transparent"
                title="Close this message" ng-click="main.actions.confirmation.close()">
                        <span class="icon icon--notext icon--close">
                            Close
                        </span>
        </button>
    </div>

    <div class="message__body">
        <p>
            Your mashup "{{main.contents.mashup.name}}" has been created. You can view it below or simply
            <a ui-sref="mashup.create">create new mashup</a>.
        </p>
    </div>
</div>
<!-- END message -->

<div class="container__heading mashupView">
    <div class="flex">
        <div class="flex__item flex__item--stretched flex align-top">
            <span class="pull-1 font-color-2">{{main.contents.mashup.name}}</span>
        </div>

        <div class="flex__item flex font-size-s font-type-1">

            <div class="dropdown flex__item push-2" data-js="dropdown">
                <div class="js-dropdown-trigger">
                    <a class="no-underline">
                                    <span class="icon icon--drop icon--after">
                                        Mashup layout
                                    </span>
                    </a>

                    <div class="dropdown__body">
                        <div class="dropdown__group">

                            <div class="dropdown__option">
                                <a class="no-underline icon icon--col-1" ng-click="main.actions.view.setColumns(1, $event)">
                                    1 column
                                </a>
                            </div>
                            <div class="dropdown__option">
                                <a class="no-underline icon icon--col-2" ng-click="main.actions.view.setColumns(2, $event)">
                                    2 columns
                                </a>
                            </div>
                            <div class="dropdown__option">
                                <a class="no-underline icon icon--col-3" ng-click="main.actions.view.setColumns(3, $event)">
                                    3 columns
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="flex__item push-1">
                <button class="button button--size-s button--type-2"
                        title="Edit" ui-sref="mashup.edit({id:main.contents.mashup.id})">
                    <span class="icon icon--edit icon--notext icon--size-m">Edit</span>
                </button>
            </div>
            <div class="flex__item">
                <button class="button button--size-s button--type-5"
                        title="Delete" ng-click="main.states.showRemoval = true">
                    <span class="icon icon--delete icon--notext icon--size-m">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>



<div class="container__body">

    <div class="pane pane--details flex align-top">
        <dl class="list list--definitions flex__item width-1-of-3">
            <dt class="list__term">
                Type
            </dt>
            <dd class="list__description">
                            <span class="category category--type-5">
                                MASHUP
                            </span>
            </dd>

        </dl>

        <dl class="list list--definitions flex__item flex__item--stretched">
            <dt class="list__term">
                Description
            </dt>
            <dd class="list__description">
                {{main.contents.mashup.description}}
            </dd>
        </dl>
    </div>
</div>


<div class="mashup flex flex--wrapped">

    <!-- mashup item -->
    <div class="mashup__item flex__item push-1" ng-repeat="mashup in main.contents.mashup.contents | orderBy: '+position' track by $index" ng-if="mashup.isActive" ng-class="'width-1-of-' + main.settings.view.columns.quantity">
        <div class="flex downwards-3 upwards-2 font-size-s no-smooth">
            <div class="flex__item flex__item--stretched">
                <h4 class="font-color-3 font-type-2 font-size-m">{{mashup.title}}</h4>
            </div>
            <div class="flex__item">
                <a class="no-underline font-color-4" ng-href="{{mashup.embedURL}}" target="_blank">
                    <span class="icon icon--expand ">Full mode</span>
                </a>
            </div>
            <div class="flex__item pull-1 only-mobile" ng-show="mashup.embedURLMobile.length > 0">
                <a ng-href="{{mashup.embedURLMobile}}" target="_blank" class="button button--type-6 font-color-4">
                    <span class="icon icon--external">Open in mobile app</span>
                </a>
            </div>
        </div>
        <div class="iframe">
            <iframe frame-src="mashup.embedURL" frame-report-id="{{mashup.id}}"></iframe>
        </div>
    </div>
    <!-- END mashup item -->
</div>


<!-- DELETEION MODAL : starts here -->
<div class="modal" data-modalid="modal-mashup-delete" ng-show="main.states.showRemoval">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete mashup</h3>
            <button class="modal__close button button--transparent" ng-click="main.states.showRemoval = false">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete this mashup?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="main.actions.mashup.remove(main.contents.mashup.id)">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="main.states.showRemoval = false">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- DELETION MODAL : ends here -->
