<div class="mashup container animate-fadeInDelayed">

    <div class="message message--info" ng-show="states.message">
        <div class="message__header">
            <h4 class="message__heading">
                Welcome to Mashup Creation
            </h4>
            <button class="message__button button button--transparent"
                title="Close this message" ng-click="action.closeMessage()">
                <span class="icon icon--notext icon--close">
                    Close
                </span>
            </button>
        </div>

        <div class="message__body">
            <p>
                Mashups are personal collections of reports that you create, modify and delete as you see fit. Create as many mashups as you wish.
            </p>
            <p>
                To create a new collection, enter a name and a short description, and then drag the reports you are interested in from the left side to the right side. <b>Please note:</b> Microsoft Office documents cannot be embedded in mashups so are not available in the mashup creation process.
            </p>
            <p>
                When you have finished, click <b>Save</b>, and that's it! On the confirmation page or whenever you open your mashup from your dashboard with a single click, you can select whether you'd like to see the reports in a 1-, 2- or 3-column layout.
            </p>
            <p>
                See more about mashups in <a href="help/userdoc.pdf#pagemode=bookmarks&nameddest=contents"  target="_blank">Help</a>.
            </p>
        </div>
    </div>

    <div class="flex">
        <h3 class="container__heading mashup__heading flex__item flex__item--stretched">
            <span class="icon icon--mashup">
                Create new mashup
            </span>
        </h3>
        <div class="flex__item">
            <button class="button button--type-1" ng-click="action.save()" ng-disabled="!states.save">
                <span class="icon icon--complete">
                    Save mashup
                </span>
            </button>
            <a ui-sref="dashboard">
                <button class="button">
                    <span class="icon icon--cancel">
                        Cancel
                    </span>
                </button>
            </a>
        </div>
    </div>

    <div class="container__body flex flex--stretched">

        <div class="mashup__aside pane flex__item width-1-of-3" id="list">

            <div class="mashup__filters">
                <h4 class="mashup__heading font-type-2">
                    <span class="icon icon--filter">Filter reports to add</span>
                </h4>

                <div class="form icon icon--after icon--search">
                    <input class="form__input"
                           type="text" placeholder="Search by report title.." ng-model="query">
                    <button class="js-input-clear-trigger form__input-action clearX" ng-click="query = ''" ng-show="query.length > 0">&times;</button>
                </div>

                <div class="downwards-1">
                    <select name="filterByReportCategory"
                            class="form__input form__input--select js-select"
                            data-placeholder="Search by report type.."
                            multiple>

                        <option ng-repeat="docType in docTypes | orderBy: '+title' track by $index" ng-value="docType.id" ng-if="docType.searchBy && disallowedReportTypes.indexOf(docType.imgFlagId) < 0">{{docType.title}}</option>
                    </select>
                </div>
            </div>

            <div class="mashup__list js-sortable"
                 data-group-name="favorites"
                 data-group-sortable="false"
                 category-id="favorites">

                <h3 class="mashup__heading font-type-2">
                    <span class="icon icon--favorites">
                        My Favorites
                    </span>
                </h3>

                <!-- box -->
                <div report class="js-sortable__draggable boxElement" ng-repeat="item in favorites | orderBy: '+position'" ng-show="item.isActive && disallowedReportTypes.indexOf(item.docType.imgFlagId) < 0" data-category-uid="favorites"  category-id="{{item.id}}" data-category-id="favorites" data-record-id="{{item.id}}" doctype-id="{{item.docType.id}}" ng-body="item" ng-category="item.category" ng-fav-method="action.toggleFavorites" ng-fav-data="favData" ng-is-sortable="true" ng-query="query" ng-is-body-sortable="true"></div>
                <!-- END box -->

            </div>
            <div class="mashup__list js-sortable"
                 data-group-name="list"
                 data-group-sortable="false"
                 ng-repeat="category in categories track by $index"
                 category-id="{{category.id}}" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0">

                <h3 class="mashup__heading font-type-2">
                    <span class="icon icon--folder">
                        {{category.name}}
                    </span>
                </h3>

                <div report class="js-sortable__draggable boxElement" ng-repeat="item in category.items | orderBy: '+position'" ng-show="item.isActive && disallowedReportTypes.indexOf(item.docType.imgFlagId) < 0" data-category-uid="{{category.id}}"  data-category-id="{{category.name}}" data-record-id="{{item.id}}" doctype-id="{{item.docType.id}}" ng-body="item" ng-category="item.category" ng-fav-method="action.toggleFavorites" ng-fav-data="favData" ng-is-sortable="true" ng-query="query" ng-is-body-sortable="true"></div>

            </div>

            <!-- in case where results are empty -->
            <div id="emptyResultsMessage" class="hideBox">

                <!-- message info -->
                <div class="message message--info">
                    <div class="message__body">
                        No matches were found.
                    </div>
                </div>
                <!-- END message info -->

            </div>
        </div>



        <div class="mashup__items flex__item flex__item--stretched js-sortable"
            data-group-name="mashup"
            data-group-put="list,favorites"
            id="mashup">

            <div class="container">
                <div class="form__group">
                    <label class="mashup__heading font-type-2"
                       for="mashupName">Mashup name</label>

                    <input id="mashupName"
                        placeholder="Provide mashup name"
                        class="form__input"
                        ng-model="name">
                </div>

                <div class="form__group">
                    <label class="mashup__heading font-type-2"
                        for="mashupDescription">Mashup description</label>

                    <textarea id="mashupDescription"
                        class="form__input form__input--textarea"
                        placeholder="Provide mashup description"
                        ng-model="description"></textarea>
                </div>

            </div>

            <div class="container downwards-3">
                <h4 class="mashup__heading font-type-2">
                    Mashup reports (<span id="counter">0 items</span>)
                </h4>

                <div id="dragMessage">
                  <div class="message message--info" ng-show="states.message">
                      <div class="message__body">
                        Drag reports from the left side to add them to the mashup.
                      </div>
                  </div>
                  <div class="mashup__drop">
  									Drop here
  								</div>
                </div>
            </div>
        </div>
    </div>


</div>
