<div class="flex-alt animate-fadeInDelayed">
    <div class="flex__item flex__item--stretched font-type-2 font-size-m">
        <span class="icon icon--filter" id="counter">3 items</span>
    </div>

    <div class="flex__item">
        <button class="button button--type-1 font-type-2 font-size-s" ng-click="action.add()">
            <span class="icon icon--add">Add new types</span>
        </button>
    </div>
</div>

<div class="rows font-size-m animate-fadeInDelayed js-sortable" id="typeList">

    <!-- row 1 -->
    <div class="row flex-alt" ng-repeat="type in types | orderBy: '+position' track by $index" type-id="{{type.id}}">
        <div class="flex__item flex__item--stretched">
            <div class="row__heading col push-2 font-type-2">
                {{type.title}}
            </div>

            <!-- row actions -->
            <div class="col row__actions">
                <button class="button button--transparent" ng-click="action.edit(type)">
                    <span class="icon icon--edit icon--notext icon--size-m">
                        Edit
                    </span>
                </button>
                <button class="button button--transparent" ng-click="action.remove(type)">
                    <span class="icon icon--delete icon--notext icon--size-m">
                        Delete
                    </span>
                </button>
            </div>
            <!-- END row actions -->
        </div>

        <!-- row details -->

    </div>
    <!-- END row 1 -->
</div>

<!-- modal dialog for adding / editing types -->
<div class="modal" data-modalid="add-new-type" ng-show="states.modalVisible">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">{{action._modalType === modalTypes.add ? 'Add new' : 'Edit'}} type</h3>
            <button class="modal__close button button--transparent" ng-click="action.close()">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <label class="form__label">Title</label>
            <input class="form__input" type="text"
                   placeholder="Provide type title" ng-model="typeTitle">
        </div>

        <div class="modal__body">
            <label class="form__label">icon flag Id</label>
            <input class="form__input" type="number"
                   placeholder="Provide icon flag Id" ng-model="typeImgFlagId">
        </div>

        <div class="modal__body">
            <input class="form__checkbox" type="checkbox" ng-model="typeSearchBy">
            <label class="form__label"> searchable <em>(optional)</em></label>
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-click="action.save()" ng-disabled="!typeTitle || typeTitle.length === 0">
                <span class="icon icon--complete icon--size-m">Save</span>
            </button>
            <button class="button" ng-click="action.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- END modal dialog -->

<!-- modal dialog to confirm if user want to delete the given record -->
<div class="modal" data-modalid="remove-type" ng-show="states.promptModalVisible">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete Type</h3>
            <button class="modal__close button button--transparent">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete the doctype <span class="font-color-5">"{{typeTitle}}"</span> ?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="action.delete()">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="action.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- END modal dialog -->