<div class="flex-alt animate-fadeInDelayed">
    <div class="flex__item flex__item--stretched font-type-2 font-size-m">
        <span class="icon icon--filter">{{main.contents.counter.active}} active reports ({{main.contents.counter.inactive}} inactive)</span>
    </div>

    <div class="flex__item">
        <button class="button button--type-1 font-type-2 font-size-s" ng-click="main.actions.edit.open()">
            <span class="icon icon--add">Add new report</span>
        </button>
    </div>
</div>

<div class="rows font-size-m animate-fadeInDelayed">

    <!-- rows group -->
    <div class="rows__group js-sortable" ng-repeat="category in main.contents.categories | orderBy: '+position' track by $index" data-group-name="{{category.id}}" data-group-put="{{category.id}}" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0">
        <h3 class="rows__heading font-type-2">
            <span class="icon icon--folder">
                {{category.name}} <span ng-if="category.displayHome" class="rows__heading-label">(display only on landing page)</span>
            </span>
        </h3>

        <div class="row flex-alt js-sortable__draggable"
            ng-repeat="report in category.items | orderBy: '+position' track by $index"
            record-id="{{report.id}}" category-id="{{category.id}}">

            <div class="flex__item flex__item--stretched">
                <div class="row__category row__category--type-{{report.docType.imgFlagId}} no-text">
                    Category
                </div>

                <div class="row__controls col push-1 pull-1">
                    <div class="button button--transparent js-sortable__handle">
                        <span class="icon icon--move icon--notext icon--size-m">
                            Drag and drop to change the order
                        </span>
                    </div>
                </div>

                <div class="row__heading col push-2 font-type-2">
                    {{report.title}}
                </div>

                <!-- row actions -->
                <div class="col row__actions">
                    <button class="button button--transparent" title="Edit" ng-click="main.actions.activeRecord.set(report.id);main.actions.edit.open()">
                        <span class="icon icon--edit icon--notext icon--size-m">
                            Edit
                        </span>
                    </button>

                    <button class="button button--transparent" title="Delete" ng-click="main.actions.remove.open(report.id, report.title)">
                        <span class="icon icon--delete icon--notext icon--size-m">
                            Delete
                        </span>
                    </button>
                </div>
                <!-- END row actions -->
            </div>

            <!-- row details -->
            <div class="row__details flex__item">
                <span class="font-size-xs">
                    {{report.docType.title | uppercase}}
                </span>
            </div>
            <!-- END row details -->

            <!-- row switch -->
            <div class="row__switch flex__item pull-1">
                <input type="checkbox" class="js-switch" ng-checked="report.isActive" data-report-id="{{report.id}}">
            </div>
            <!-- END row switch -->

        </div>
        <!-- END row -->

    </div>
    <!-- END rows group -->

</div>
<!-- add / edit report modal : starts here -->
<div class="modal editReport" data-modalid="edit-report" ng-show="main.states.modal.edit">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">{{main.states.activeRecord ? 'Edit' : 'Add new'}} report</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.edit.close()">
                        <span class="icon icon--close icon--notext icon--size-m">
                            Close dialog
                        </span>
            </button>
        </div>

        <div class="modal__body">
            <form novalidate name="form" class="formEdition">
                <div class="form__group">
                    <label class="form__label">Name</label>
                    <input class="form__input" type="text" placeholder="Provide report name" ng-model="main.form.edition.title" required>
                </div>

                <div class="form__group">
                    <label class="form__label">Description</label>
                    <textarea class="form__input form__input--textarea" placeholder="Provide report description" ng-model="main.form.edition.descriptionShort" required></textarea>
                </div>

                <div class="form__group flex-alt">
                    <div class="flex__item width-1-of-2 push-1">
                        <label class="form__label">Type</label>

                        <select name="reportType" class="form__input form__input--select js-select" ng-model="main.form.edition.docType" required>
                            <option ng-repeat="docType in main.contents.docTypes | orderBy: 'title'" value="{{docType.id}}">{{docType.title}}</option>
                        </select>
                    </div>

                    <div class="flex__item width-1-of-2 pull-1">
                        <label class="form__label">Category</label>

                        <select name="reportCategory" class="form__input form__input--select js-select" ng-model="main.form.edition.category" required>
                            <option ng-repeat="category in main.contents.categories | orderBy: '+position' track by $index" value="{{category.id}}" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0">{{category.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form__group flex-alt">
                    <div class="flex__item width-1-of-2 push-1">
                        <label class="form__label">Access group</label>
                        <select name="reportCategory" class="form__input form__input--select js-select" ng-model="main.form.edition.group" required>
                            <option value="{{group.id}}" ng-repeat="group in main.contents.accessGroups | orderBy: '+position' track by $index">{{group.name}}</option>
                        </select>
                    </div>

                    <div class="flex__item width-1-of-2 pull-1">
                        <label class="form__label">Cover Image</label>

                        <input type="file" class="form__input" ng-model="main.form.edition.coverPhoto" id="coverPhoto"/>
                    </div>
                </div>


                <div class="form__group">
                    <label class="form__label">Report link</label>
                    <a class="button button--transparent" href="help/admindoc.pdf#pagemode=bookmarks&nameddest=reportlink" target="_blank">
                            <span class="icon icon--help icon--sup font-color-1 js-tooltip" title="Report link tooltip contents" >
                                <span class="no-text">help</span>
                            </span>
                    </a>
                    <input class="form__input" type="text" placeholder="Provide report link" name="embedURL" ng-model="main.form.edition.embedURL" ng-pattern="/^((https?|sapbi):\/\/|#\/).+/" required/>
                </div>

                <div class="form__group">
                    <label class="form__label">Mobile link</label>
                    <a class="button button--transparent" href="help/admindoc.pdf#pagemode=bookmarks&nameddest=mobreportlink" target="_blank">
                            <span class="icon icon--help icon--sup font-color-1 js-tooltip" title="Report link tooltip contents" >
                                <span class="no-text">help</span>
                            </span>
                    </a>
                    <input class="form__input" type="text" placeholder="Provide report link" name="embedURLMobile" ng-model="main.form.edition.embedURLMobile" ng-pattern="/^((https?|sapbi):\/\/|#\/).+/"/>
                </div>

                <div class="form__group">
                    <label class="form__label">Refresh information</label>
                    <input class="form__input" type="text" placeholder="Provide refresh information" name="refreshInformation" ng-model="main.form.edition.refreshInformation"/>
                </div>
            </form>
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-disabled="!form.$valid" ng-click="main.actions.edit.save()">
                <span class="icon icon--complete icon--size-m">Save</span>
            </button>
            <button class="button" ng-click="main.actions.edit.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>

    </div>
</div>
<!-- add / edit report modal : ends here -->

<!-- remove report modal : starts here -->
<div class="modal" data-modalid="remove-report" ng-show="main.states.modal.remove">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete report</h3>
            <button class="modal__close button button--transparent" ng-click="main.actions.remove.close()">
                        <span class="icon icon--close icon--notext icon--size-m">
                            Close dialog
                        </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete the category <span class="font-color-5">"{{main.contents.recordTitle}}"</span> ?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="main.actions.remove.save()">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="main.actions.remove.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- remove report modal : ends here -->
