<!-- app header -->
<header class="app__header text-right upwards-3">
    <h2 class="logo logo--roche no-text">Roche</h2>
</header>
<!-- END app header -->


<!-- login form -->
<form novalidate class="login font-type-2 css-form">
    <div class="login__header icon icon--padlock">
        <h3 class="logo logo--app no-text">
            pRED Portfolio Dashboard
        </h3>
    </div>

    <div class="font-size-m no-smooth">
        <div class="form__group downwards-1">
            <button class="button button--type-1 button--size-m font-type-1"
                ng-click="actions.prediLogin()"
                ng-disabled="!UIStates.isLoginButtonActive">
                Login
            </button>
          <button class="button button--type-1 button--size-m font-type-1"
                  ng-show="isLocalhost"
                  ng-click="actions.prediLoginTest()"
                  ng-disabled="!UIStates.isLoginButtonActive">
            Localhost TEST Login
          </button>
        </div>
    </div>

    <p class="login__disclaimer">I acknowledge that I am bound by confidentiality obligations imposed through my employment or contractual agreement
        with Roche in connection with my access to confidential information, including pRED Portfolio Dashboard and its contents. By
        entering pRED Portfolio Dashboard, I confirm that I understand that my activities within pRED Portfolio Dashboard may be monitored consistent
        with local law, and all contents and passwords are confidential information, and that unauthorized disclosure or use of
        such confidential information may result in disciplinary action including termination of my employment or services and/or
        legal action based on local law.</p>
</form>

<!-- END login form -->
