<!--
    Dashboard's subheader.
    It will be dynamically attached to the
    <header> section.
-->
<img src="https://glob.1sharepoint.roche.com/team/pRED-Portfolio-Dashboard/Dashboard%20Pictures/access-pred.jpg" class="sharepoint-auth">
<iframe src="https://glob.1sharepoint.roche.com/team/pRED-Portfolio-Dashboard/" style="display: none; height: 0;"></iframe>

<div class="pane pane--filters flex flex--wrapped" id="dashboardSubheader">
    <h3 class="pane__heading flex__item flex__item--stretched">
        <span class="icon icon--filter icon--size-m">
            <!-- Viewing <span id="reportCounter">0</span> -->
        </span>
    </h3>

    <div class="flex__item width-1-of-4 width-scalable push-2">
        <div class="form icon icon--after icon--search">
            <input class="form__input" type="text" placeholder="Search by title or description..." ng-model="query">
            <button class="js-input-clear-trigger form__input-action clearX" ng-click="query = ''" ng-show="query.length > 0">&times;</button>
        </div>
    </div>
    <div class="flex__item width-1-of-3 width-scalable push-2">
        <select name="filterByReportCategory" class="form__input form__input--select js-select docTypeFilter" data-placeholder="Search by type.." multiple>
            <option ng-repeat="docType in docTypes | orderBy: '+title'" ng-if="docType.searchBy" ng-value="docType.id" >
                {{docType.title}}
            </option>
        </select>
    </div>
    <div class="flex__item width-scalable">
        <button class="button button--type-7" ng-click="actions.clearAllFilters()">
            <span class="icon icon--close icon--size-s">Clear criteria</span>
        </button>
    </div>
</div>
<!-- subheader ends here -->

<!-- app main -->
<main class="app__main downwards-custom-1 dashboard-categories">

    <div class="container animate-fadeInDownMoreDelayed">
        <!-- in case where results are empty -->
        <div id="emptyResultsMessage" class="hideBox">
            <!-- message info -->
            <div class="message message--info message--compact">
                <div class="message__body"> No reports were found. If you don't see reports you think you should, then contact a business admin as described in the
                    <a ng-click="actions.tellToNav('contact')" class="no-underline"> contact page </a>.
                </div>
            </div>
            <!-- END message info -->
        </div>

        <!-- Favorites : starts here -->
        <div class="collapsible js-collapsible group-favorites" ng-class="{'ng-hide': !isCategoryActive('favorites')}" id="favorites">
            <h3 class="container__heading icon icon--dropdown collapsible__trigger">
                <span class="icon icon--favorites icon--size-l">{{getCategoryName('favorites')}}</span>
            </h3>
            <div class="collapsible__body js-sortable" data-group-name="favorites" data-group-put="favorites" data-group-sortable="true" id="favHolder">
                <div report class="col width-1-of-4 width-scalable js-sortable__draggable boxElement"
                    ng-repeat="favorite in favorites | orderBy: '+position'"
                    doctype-id="{{favorite.docType.id}}"
                    ng-show="favorite.isActive"
                    ng-body="favorite"
                    ng-category="favorite.category"
                    ng-fav-method="toggleFavorites"
                    ng-fav-data="favData"
                    ng-open-report-method="openReport"
                    ng-is-sortable="true"
                    ng-query="query"
                    ng-is-body-sortable="false">
                </div>
            </div>
        </div>
        <!-- Favorites : ends here -->

        <!-- Mashups : starts here -->
        <div class="collapsible js-collapsible group-mashup" ng-class="{'ng-hide': !isCategoryActive('mashups')}" id="mashups">
            <div class="container__heading flex icon icon--size-l icon--dropdown collapsible__trigger">
                <div class="flex__item flex__item--stretched icon icon--mashup">{{getCategoryName('mashups')}}</div>
                <div class="flex__item push-4">
                    <button class="button button--transparent font-size-s" data-prevent="true" ui-sref="mashup.create">
                        <span class="icon icon--add icon--size-m" data-prevent="true"> Add new mashup </span>
                    </button>
                </div>
            </div>
            <div class="collapsible__body">
                <mashup class="col width-1-of-4 width-scalable boxElement"
                    ng-repeat="item in mashups"
                    ng-body="item"
                    ng-query="query"
                    doctype-id="{{item.id}}"></mashup>
            </div>
        </div>
        <!-- Mashups : ends here -->

        <!-- Categories : starts here -->
        <div class="collapsible js-collapsible {{category.overrideWithDirective}}"
            ng-repeat="category in categories | orderBy: '+position'"
            id="category-{{ category.id }}"
            ng-show="(category.isActive || isUndefined(category.isActive)) && !category.overrideWithDirective" >
            <h3 class="container__heading icon icon--dropdown collapsible__trigger">
                <span class="icon icon--folder icon--size-l"> {{category.name}} </span>
            </h3>
            <div class="collapsible__body js-sortable">
                <div report class="col width-1-of-4 width-scalable js-sortable__draggable boxElement"
                    ng-repeat="item in category.items | orderBy: '+position'"
                    doctype-id="{{item.docType.id}}"
                    ng-show="item.isActive"
                    ng-body="item"
                    ng-category="category"
                    ng-fav-method="toggleFavorites"
                    ng-fav-data="favData"
                    ng-open-report-method="openReport"
                    ng-is-sortable="false"
                    ng-query="query"></div>
            </div>
        </div>
        <!-- Categories : ends here -->

    </div>
</main>
<!-- END app main -->
