<div class="mashup container">
    <div class="flex align-bottom">
        <h3 class="container__heading mashup__heading flex__item flex__item--stretched">
                <span class="icon icon--mashup">
                    Edit Mashup
                </span>
        </h3>
        <div class="flex__item">
            <div class="col pull-1">
                <button class="button button--type-1" ng-click="main.actions.save()" ng-disabled="main.contents.counter === 0">
                    <span class="icon icon--complete">
                        Save mashup
                    </span>
                </button>
            </div>
            <div class="col pull-1">
                <button class="button" ui-sref="dashboard">
                    <span class="icon icon--cancel">
                        Cancel
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="container__body flex align-top">

        <div class="mashup__aside pane flex__item width-1-of-3" id="available">
            <div class="mashup__filters">
                <h4 class="mashup__heading font-type-2">
                    <span class="icon icon--filter">Filter reports to add</span>
                </h4>

                <div class="form icon icon--after icon--search">
                    <input class="form__input" type="text" placeholder="Search by report title.." ng-model="main.filters.query">
                    <button class="js-input-clear-trigger form__input-action clearX" ng-click="main.selectedFilters.query = ''" ng-show="main.selectedFilters.query.length > 0">&times;</button>
                </div>

                <div class="downwards-1">
                    <select name="filterByReportCategory" class="form__input form__input--select js-select" data-placeholder="Search by report type.." multiple>
                        <option ng-repeat="docType in main.contents.docTypes | orderBy: '+title'" ng-value="docType.id" ng-if="docType.searchBy && main.settings.disallowedReportTypes.indexOf(docType.imgFlagId) < 0">{{docType.title}}</option>
                    </select>
                </div>
            </div>


            <div class="mashup__list js-sortable" data-group-name="favorites" data-group-sortable="false" category-id="favorites">
                <h3 class="mashup__heading font-type-2">
                    <span class="icon icon--favorites">
                        My Favorites
                    </span>
                </h3>

                <!-- box -->
                <div report class="js-sortable__draggable boxElement" ng-repeat="item in main.contents.favorites.contents | orderBy: '+position'" ng-show="item.isActive && main.settings.disallowedReportTypes.indexOf(item.docType.imgFlagId) < 0" data-category-uid="favorites"  data-category-id="favorites" data-record-id="{{item.id}}" data-doctype-id="{{item.docType.id}}" doctype-id="{{item.docType.id}}" ng-body="item" ng-category="item.category" ng-fav-method="main.actions.favorites.toggle" ng-fav-data="main.contents.favData" ng-is-sortable="true" ng-query="main.filters.query" ng-is-body-sortable="true"></div>
                <!-- END box -->
            </div>

            <div class="mashup__list js-sortable" data-group-name="list" data-group-sortable="false" ng-repeat="category in main.contents.categories" category-id="{{category.id}}" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0">
                <h3 class="mashup__heading font-type-2">
                    <span class="icon icon--folder">
                        {{category.name}}
                    </span>
                </h3>

                <!-- box -->
                <div report class="js-sortable__draggable boxElement" ng-repeat="item in category.items | orderBy: '+position'" ng-show="item.isActive && main.settings.disallowedReportTypes.indexOf(item.docType.imgFlagId) < 0" data-category-uid="{{category.id}}"  data-category-id="{{category.name}}" data-record-id="{{item.id}}" doctype-id="{{item.docType.id}}" ng-body="item" ng-category="favorite.category" ng-fav-method="main.actions.favorites.toggle" ng-fav-data="main.contents.favData" ng-is-sortable="true" ng-query="main.filters.query" ng-is-body-sortable="true"></div>
                <!-- END box -->

            </div>

            <!-- in case where results are empty -->
            <div id="emptyResultsMessage" class="hideBox">

                <!-- message info -->
                <div class="message message--info">
                    <div class="message__body">
                        No matches were found.
                    </div>
                </div>
                <!-- END message info -->

            </div>
        </div>

        <div class="mashup__items flex__item flex__item--stretched" id="active">

            <div class="container">
                <div class="form__group">
                    <label class="mashup__heading font-type-2" for="mashupName">Mashup name</label>
                    <input id="mashupName" class="form__input" placeholder="Provide mashup name" ng-model="main.contents.mashup.name">
                </div>

                <div class="form__group">
                    <label class="mashup__heading font-type-2" for="mashupDescription">Mashup description</label>
                    <textarea id="mashupDescription"
                              class="form__input form__input--textarea"
                              placeholder="Provide mashup description" ng-model="main.contents.mashup.description"></textarea>
                </div>
            </div>

            <div class="container downwards-3" id="included">
                <h4 class="mashup__heading font-type-2">
                    Mashup reports (<span id="counter">0</span> items)
                </h4>

                <div class="container__body js-sortable" data-group-name="mashup" data-group-sortable="true" data-group-put="list,favorites" style="padding-bottom: 200px">

                    <!-- box -->
                    <div report class="js-sortable__draggable boxElement" ng-repeat="item in main.contents.mashup.contents | orderBy: '+position'" ng-show="item.isActive && main.settings.disallowedReportTypes.indexOf(item.docType.imgFlagId) < 0" data-category-uid="{{category.id}}"  data-category-id="{{category.name}}" data-record-id="{{item.id}}" doctype-id="{{item.docType.id}}" ng-body="item" ng-category="item.category" ng-fav-method="main.actions.favorites.toggle" ng-fav-data="main.contents.favData" ng-is-sortable="true" ng-query="main.filters.query" ng-is-body-sortable="true" data-existing="true"></div>
                    <!-- END box -->

                    <div class="message message--info hide" id="intro">
                        <div class="message__body">
                            Drag reports from the left side to add them to the mashup.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>