<main class="app__main additionalMargin" role="main">
    <div class="container">

        <iframe src="https://glob.1sharepoint.roche.com/team/pRED-Portfolio-Dashboard/" style="display: none; height: 0;"></iframe>

        <div class="container__heading">
            <div class="flex">
                <div class="flex__item flex__item--stretched flex align-top">
                    <button class="button button--transparent" ng-click="main.actions.toggleFavorites($event, main.contents.report.id)">
                        <span class="icon icon--notext icon--size-l" ng-class="{'icon--star-2': !main.contents.favData[main.contents.report.id], 'icon--star-1': main.contents.favData[main.contents.report.id]}">
                            Add to favorites
                        </span>
                    </button>
                    <span class="pull-1 font-color-2">{{main.contents.report.title}}</span>
                </div>

                <div class="flex__item flex font-size-s font-type-1">
                    <div class="flex__item push-2">
                        <a class="no-underline font-color-4 no-wrap"
                          ng-href="{{main.actions.getFullModeUrl(main.contents.report.embedURL)}}" target="_blank">
                            <span class="icon icon--expand ">Full mode</span>
                        </a>
                    </div>

                    <div class="flex__item push-2 only-mobile" ng-show="main.contents.report.embedURLMobile.length > 0">
                        <a ng-href="{{main.contents.report.embedURLMobile}}" target="_blank" class="button button--type-6 font-color-4">
                            <span class="icon icon--external">Open in mobile app</span>
                        </a>
                    </div>

                    <div class="flex__item push-2 flex" ng-show="main.hasAdminRole()">
                        <div class="flex__item push-1">
                            <input id="reportEnabled" type="checkbox" class="js-switch" ng-checked="main.contents.report.isActive" data-report-id="{{main.contents.report.id}}">
                        </div>
                        <label class="flex__item font-color-3 no-wrap" for="reportEnabled" id="currentState">
                          {{main.contents.report.isActive ? main.contents.states.enabled : main.contents.states.disabled}}
                        </label>
                    </div>

                    <div class="flex__item push-1" ng-show="main.hasAdminRole()">
                        <button class="button button--size-s button--type-2" title="Edit" ng-click="main.actions.admin.edit()">
                            <span class="icon icon--edit icon--notext icon--size-m">Edit</span>
                        </button>
                    </div>

                    <div class="flex__item" ng-show="main.hasAdminRole()">
                        <button class="button button--size-s button--type-5" title="Delete" ng-click="main.actions.admin.remove(main.contents.report.id)">
                            <span class="icon icon--delete icon--notext icon--size-m">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container__body">

            <div class="pane pane--details flex align-top">
                <dl class="list list--definitions flex__item width-1-of-3">
                    <dt class="list__term">
                        Type
                    </dt>
                    <dd class="list__description">
                        <span class="category no-smooth" ng-class="'category--type-' + main.contents.report.docType.imgFlagId">
                            {{main.contents.report.docType.title}}
                        </span>
                    </dd>

                    <dt class="list__term">
                        Category
                    </dt>
                    <dd class="list__description">
                        {{main.contents.report.category.name}}
                    </dd>
                </dl>

                <dl class="list list--definitions flex__item flex__item--stretched">
                    <dt class="list__term">
                        Description
                    </dt>
                    <dd class="list__description">
                        {{main.contents.report.descriptionShort}}
                    </dd>
                </dl>
                </dib>
            </div>


            <!-- iframe portlet -->
            <div class="iframe">
                <iframe height="805" id="embedFrame" frame-report-id="{{main.contents.report.id}}"></iframe>
            </div>
            <!-- END iframe portlet -->

        </div>
    </div>
</main>
<modal-report-delete ng-report-title="main.contents.report.title" ng-report-id="main.contents.report.id" ng-custom-show="main.contents.states.modalDelete"></modal-report-delete>
<modal-report-edition ng-report="main.contents.report" ng-init="createNew = false" ng-create-new="createNew" ng-custom-show="main.contents.states.modalEdit"></modal-report-edition>
