<div class="flex-alt font-type-2 font-size-m">
    <div class="flex__item push-1">
        <input type="checkbox" id="announcementBanner"
               class="js-switch" ng-checked="main.contents.current.isActive">
    </div>

    <div class="flex__item">
        <label ng-click="main.actions.setActive($event)">
            Enable announcement banner
        </label>
    </div>
</div>

<div class="form__group downwards-1 upwards-2">
    <textarea class="form__input form__input--textarea"
              placeholder="Provide announcment banner message" ng-model="main.contents.current.message"></textarea>
</div>

<button class="button button--type-1 font-type-2 font-size-s" ng-click="main.actions.save()">
    <span class="icon icon--complete">Save</span>
</button>
