<div class="flex-alt animate-fadeInDelayed">
    <div class="flex__item flex__item--stretched font-type-2 font-size-m">
        <span class="icon icon--filter" id="counter">3 items</span>
    </div>

    <div class="flex__item">
        <button class="button button--type-1 font-type-2 font-size-s" ng-click="action.add()">
            <span class="icon icon--add">Add new category</span>
        </button>
    </div>
</div>

<div class="rows font-size-m animate-fadeInDelayed js-sortable" id="categoryList">

    <!-- row 1 -->
    <div class="row flex-alt js-sortable__draggable" ng-class="{'specialCategory': category.overrideWithDirective || category.displayHome}" ng-repeat="category in categories | orderBy: '+position' track by $index" category-id="{{category.id}}">
        <div class="flex__item flex__item--stretched">
            <div class="row__controls col push-1">
                <div class="button button--transparent js-sortable__handle">
                    <span class="icon icon--move icon--notext icon--size-m">
                        Drag and drop to change the order
                    </span>
                </div>
            </div>

            <div class="row__heading col push-2 font-type-2">
                {{category.name}}
            </div>

            <!-- row actions -->
            <div class="col row__actions">
                <button class="button button--transparent" ng-click="action.edit(category)">
                    <span class="icon icon--edit icon--notext icon--size-m">
                        Edit
                    </span>
                </button>
                <button class="button button--transparent" ng-click="action.remove(category)">
                    <span class="icon icon--delete icon--notext icon--size-m">
                        Delete
                    </span>
                </button>
            </div>
            <!-- END row actions -->
        </div>

        <!-- row details -->
        <div class="row__details flex__item">
            <span class="font-size-xs">{{category.items.length}} REPORTS {{category.overrideWithDirective}}</span>
        </div>
        <!-- END row details -->

      <div class="row__switch flex__item pull-1">
        <input type="checkbox" class="js-switch" ng-checked="category.isActive || isUndefined(category.isActive)" category-id="{{category.id}}">
      </div>
    </div>
    <!-- END row 1 -->
</div>

<!-- modal dialog for adding / editing category -->
<div class="modal" data-modalid="add-new-category" ng-show="states.modalVisible">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">{{action._modalType === modalTypes.add ? 'Add new' : 'Edit'}} category</h3>
            <button class="modal__close button button--transparent" ng-click="action.close()">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <label class="form__label">Name</label>
            <input class="form__input" type="text"
                   placeholder="Provide category name" ng-model="categoryName">
        </div>

        <div class="modal__body">
            <input class="form__checkbox" type="checkbox" ng-model="categoryDisplayHome">
            <label class="form__label"> Display only on landing page <em>(optional)</em></label>
        </div>

        <div class="modal__body">
            <label class="form__label">Override with directive <em>(optional)</em> <span title="special functionality: favorites, mashup">( ? )</span></label>
            <input class="form__input" type="text"
                   placeholder="Provide override with directive" ng-model="categoryOverrideWithDirective">
        </div>

        <div class="modal__controls">
            <button class="button button--type-1" ng-click="action.save()" ng-disabled="!categoryName || categoryName.length === 0">
                <span class="icon icon--complete icon--size-m">Save</span>
            </button>
            <button class="button" ng-click="action.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- END modal dialog -->

<!-- modal dialog to confirm if user want to delete the given record -->
<div class="modal" data-modalid="remove-category" ng-show="states.promptModalVisible">
    <div class="modal__dialog">
        <div class="modal__header">
            <h3 class="modal__heading font-type-2">Delete category</h3>
            <button class="modal__close button button--transparent">
                <span class="icon icon--close icon--notext icon--size-m">
                    Close dialog
                </span>
            </button>
        </div>

        <div class="modal__body">
            <p>
                Do you really want to delete the category <span class="font-color-5">"{{categoryName}}"</span> ?
            </p>
        </div>

        <div class="modal__controls">
            <button class="button button--type-5" ng-click="action.delete()">
                <span class="icon icon--delete icon--size-m">Delete</span>
            </button>
            <button class="button" ng-click="action.close()">
                <span class="icon icon--cancel icon--size-m">Cancel</span>
            </button>
        </div>
    </div>
</div>
<!-- END modal dialog -->
