/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false */

/***
 * Grid:
 */

/**
 * Column:
 * Use `.col` HTML class to display element inline as a column.
 *
 *     @example
 *     div.example
 *       div.col Column 1
 *       div.col Column 2
 *       div.col Column 3
 */
.col {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

/**
 * Flexible:
 * Use `.flex` HTML class to display element in a flexible way (default as a column).
 *
 *     @example
 *     div.example
 *       div.flex
 *         div.flex__item Flexible 1
 *         div.flex__item Flexible 2
 *         div.flex__item Flexible 3
 */
.flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.flex-alt {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

	.flex--stretched {
		-ms-flex-align: stretch;
		-webkit-align-items: stretch;
		align-items: stretch;
	}
	.flex--wrapped {
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.flex--stacked {
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.flex--reversed {
		-ms-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.flex--segmented:not(.flex--reversed) > .flex__item:not(:first-child) {
		padding-left: 1rem;
	}
	.flex--segmented.flex--reversed > .flex__item:not(:first-child) {
		padding-right: 1rem;
	}
	.flex__item {
		width: auto;
		-ms-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		word-wrap: break-word;
	}
		.flex__item--stretched {
			-ms-flex: 1 1 auto;
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
		}
		.flex__item--expanded {
			-ms-flex: 1 1 100%;
			-webkit-flex: 1 1 100%;
			flex: 1 1 100%;
		}

/**
 * Widths:
 * Use the following `.width-X-Y` HTML classes for a specific width:
 * - `.width-1-of-1` is equal to 100%
 * - `.width-1-of-2` is equal to 50%
 * - `.width-1-of-3` is equal to 33.33%
 * - `.width-2-of-3` is equal to 66.66%
 * - `.width-1-of-4` is equal to 25%
 * - `.width-2-of-4` is equal to 50%
 * - `.width-3-of-4` is equal to 75%
 * - `.width-1-of-5` is equal to 20%
 * - `.width-2-of-5` is equal to 40%
 * - `.width-3-of-5` is equal to 60%
 * - `.width-4-of-5` is equal to 80%
 * - `.width-1-of-6` is equal to 16.66%
 * - `.width-2-of-6` is equal to 33.33%
 * - `.width-3-of-6` is equal to 50%
 * - `.width-4-of-6` is equal to 66.66%
 * - `.width-5-of-6` is equal to 83.33%
 *
 * See examples on the right side for applying the grid system to your code.
 *
 *     @example
 *     // Grid with 2 columns
 *     div.example
 *       div.col.width-1-of-2 Column 1
 *       div.col.width-1-of-2 Column 2
 *
 *     // Grid with 3 columns
 *     div.example.downwards-2
 *       div.col.width-1-of-3 Column 1
 *       div.col.width-1-of-3 Column 2
 *       div.col.width-1-of-3 Column 3
 *
 *     // Grid with 4 columns
 *     div.example.downwards-2
 *       div.col.width-1-of-4 Column 1
 *       div.col.width-1-of-4 Column 2
 *       div.col.width-1-of-4 Column 3
 *       div.col.width-1-of-4 Column 4
 *
 *     // Grid with 5 columns
 *     div.example.downwards-2
 *       div.col.width-1-of-5 Column 1
 *       div.col.width-1-of-5 Column 2
 *       div.col.width-1-of-5 Column 3
 *       div.col.width-1-of-5 Column 4
 *       div.col.width-1-of-5 Column 5
 *
 *     // Grid with 6 columns
 *     div.example.downwards-2
 *       div.col.width-1-of-6 Column 1
 *       div.col.width-1-of-6 Column 2
 *       div.col.width-1-of-6 Column 3
 *       div.col.width-1-of-6 Column 4
 *       div.col.width-1-of-6 Column 5
 *       div.col.width-1-of-6 Column 6
 *
 *     // Grid with nested columns
 *     div.example.downwards-4
 *       div.col.width-1-of-2
 *       	p Column 1
 *       	div.col.width-1-of-3 Nested 1-1
 *       	div.col.width-1-of-3 Nested 1-2
 *       	div.col.width-1-of-3 Nested 1-3
 *       div.col.width-1-of-2
 *       	p Column 2
 *       	div.col.width-1-of-2 Nested 2-1
 *       	div.col.width-1-of-2 Nested 2-2
 */
.width-1-of-1,
.width-2-of-2,
.width-3-of-3,
.width-4-of-4,
.width-5-of-5,
.width-6-of-6 {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
.width-1-of-2,
.width-2-of-4,
.width-3-of-6 {
	width: 50%;
	min-width: 50%;
	max-width: 50%;
}
.width-1-of-3 {
	width: 33.33%;
	min-width: 33.33%;
	max-width: 33.33%;
}
.width-2-of-3 {
	width: 66.66%;
	min-width: 66.66%;
	max-width: 66.66%;
}
.width-1-of-4 {
	width: 25%;
	min-width: 25%;
	max-width: 25%;
}
.width-3-of-4 {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
}
.width-1-of-5 {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
}
.width-2-of-5 {
	width: 40%;
	min-width: 40%;
	max-width: 40%;
}
.width-3-of-5 {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
}
.width-4-of-5 {
	width: 80%;
	min-width: 80%;
	max-width: 80%;
}
.width-1-of-6 {
	width: 16.66%;
	min-width: 16.66%;
	max-width: 16.66%;
}
.width-2-of-6 {
	width: 33.33%;
	min-width: 33.33%;
	max-width: 33.33%;
}
.width-3-of-6 {
	width: 50%;
	min-width: 50%;
	max-width: 50%;
}
.width-4-of-6 {
	width: 66.66%;
	min-width: 66.66%;
	max-width: 66.66%;
}
.width-5-of-6 {
	width: 83.33%;
	min-width: 83.33%;
	max-width: 83.33%;
}


/***
 * Helpers:
 */

/**
 * Display and visibility:
 * Use the following HTML classes for a display and visibility helpers:
 * - `.hidden` to hide whole element.
 * - `.disabled` to pretend disabled state
 * - `.no-text` to hide text on elements for instance with icons.
 * - `.no-underline` to prevent underline on elements like link.
 * - `.no-wrap` to display whole text in one line.
 *
 *     @example
 *     div.example
 *     	a.disabled Disabled link
 *     div.example.downwards-2
 *     	a.no-underline Link without underline
 */
.hidden {
	display: none;
	visibility: hidden;
}
.overflow-hidden {
	overflow: hidden;
}
.disabled {
	opacity: .4;
	pointer-events: none;
}
.no-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
}
.no-underline {
	text-decoration: none;
}
.no-wrap {
	white-space: nowrap;
}


/**
 * Alignments:
 * Use the following helpers for **block elements**&nbsp;(like columns) to get different alignments:
 * - `.text-left` align element contents to left (default)
 * - `.text-center` align element contents to center
 * - `.text-right` align element contents to right
 *
 * Use the following helpers for **flex elements**&nbsp;to get a different alignments:
 * - `.align-top` align element contents to top (vertically)
 * - `.align-left` align element contents to left (default)
 * - `.align-center` align element contents to center
 * - `.align-right` align element contents to right
 *
 *     @example
 *     div.example
 *     	div.col.width-1-of-2.text-right Column with text align to right
 *     	div.col.width-1-of-2 Column with text align to left (by default)
 *
 *     div.example.downwards-4
 *      div.flex
 *     	 div.flex__item.align-center
 *       	div.upwards-6.downwards-6 Flex item with padding on top and bottom
 *     	 div.flex__item.align-bottom Flex item aligned to bottom
 *     	 div.flex__item.align-top Flex item aligned to top
 *     	 div.flex__item.align-center Flex item aligned to center
 */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.align-top {
	vertical-align: top;
	-ms-flex-align: start;
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.align-bottom {
	vertical-align: bottom;
	-ms-flex-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;

}
.align-left {
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.align-center {
	vertical-align: middle;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.align-right {
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}


/**
 * Spacing:
 * Use the following helpers to get a specific spacing for an element.
 *
 * Spacing on the **right side**:
 * - `.push-1` is equal to 10px
 * - `.push-2` is equal to 20px
 * - `.push-3` is equal to 30px
 * - `.push-4` is equal to 40px
 * - `.push-5` is equal to 50px
 * - `.push-6` is equal to 60px
 *
 * Spacing on the **left side**:
 * - `.pull-1` is equal to 10px
 * - `.pull-2` is equal to 20px
 * - `.pull-3` is equal to 30px
 * - `.pull-4` is equal to 40px
 * - `.pull-5` is equal to 50px
 * - `.pull-6` is equal to 60px
 *
 * Spacing on the **bottom side**:
 * - `.upwards-1` is equal to 10px
 * - `.upwards-2` is equal to 20px
 * - `.upwards-3` is equal to 30px
 * - `.upwards-4` is equal to 40px
 * - `.upwards-5` is equal to 50px
 * - `.upwards-6` is equal to 60px
 *
 * Spacing on the **top side**:
 * - `.downwards-1` is equal to 10px
 * - `.downwards-2` is equal to 20px
 * - `.downwards-3` is equal to 30px
 * - `.downwards-4` is equal to 40px
 * - `.downwards-5` is equal to 50px
 * - `.downwards-6` is equal to 60px
 *
 *     @example
 *     div.example
 *      div.col.width-1-of-2
 *       p I don't have any paddings
 *      div.col.width-1-of-2
 *       p.downwards-2.pull-2 I have 20px paddings on top and left sides
 *
 *     div.example.downwards-2
 *      div.col.width-1-of-2
 *       p.downwards-4 I have 40px padding on top side
 *      div.col.width-1-of-2
 *       p.upwards-6 I have 60px padding on bottom side
 *
 *     div.example.downwards-2
 *      div.col.width-1-of-1
 *       p.push-6.pull-6.downwards-4.upwards-4.
 *        I have 40px padding on top and bottom sides and 60px on left and right sides
 */
.push-1 {
	padding-right: 1rem;
}
.push-2 {
	padding-right: 2rem;
}
.push-3 {
	padding-right: 3rem;
}
.push-4 {
	padding-right: 4rem;
}
.push-5 {
	padding-right: 5rem;
}
.push-6 {
	padding-right: 6rem;
}
.pull-1 {
	padding-left: 1rem;
}
.pull-2 {
	padding-left: 2rem;
}
.pull-3 {
	padding-left: 3rem;
}
.pull-4 {
	padding-left: 4rem;
}
.pull-5 {
	padding-left: 5rem;
}
.pull-6 {
	padding-left: 6rem;
}
.upwards-1 {
	padding-bottom: 1rem;
}
.upwards-2 {
	padding-bottom: 2rem;
}
.upwards-3 {
	padding-bottom: 3rem;
}
.upwards-4 {
	padding-bottom: 4rem;
}
.upwards-5 {
	padding-bottom: 5rem;
}
.upwards-6 {
	padding-bottom: 6rem;
}
.downwards-1 {
	padding-top: 1rem;
}
.downwards-2 {
	padding-top: 2rem;
}
.downwards-3 {
	padding-top: 3rem;
}
.downwards-4 {
	padding-top: 4rem;
}
.downwards-5 {
	padding-top: 5rem;
}
.downwards-6 {
	padding-top: 6rem;
}
