/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false */


.tabs {
	display: block;
	margin: 1rem auto;
}
	.tabs__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.tabs__nav-item {
		font-size: 1.6rem;
		color: #0B41CD;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		padding: .8rem 2.5rem;
		background: #F5F5F2;
		border: 1px solid #C2BAB5;
		margin-right: -6px;
		z-index: 0;
		cursor: pointer;
	}
		.tabs__nav-item.is-active,
		.tabs__nav-item:hover {
			color: #0B41CD;
            background: #fff;
		}
		.tabs__nav-item.is-active {
			color: #000;
			background: #fff;
			border-bottom-color: #fff;
			padding-bottom: 1.5rem;
			padding-top: 1rem;
			z-index: 1;
			cursor: default;
		}

	.tabs__body {
		color: #706B69;
		line-height: 1.4;
		padding: 3rem;
		border: 1px solid #C2BAB5;
		margin-top: -1px;
	}
		.tabs__body-item {
			display: none;
		}
		.tabs__body-item.is-active {
			display: block;
		}
