<!-- app header --> <header class="app__header app__header--filters" role="banner" id="mainHeader" always-visible-menu> <div class="flex"> <!-- side navigation trigger --> <div class="flex__item js-sideNavTrigger"> <button class="sideNav__trigger icon icon--nav icon--notext"> Menu </button> </div> <!-- END side navigation trigger --> <div class="flex__item flex__item--stretched"> <h1> <a class="logo logo--app no-text" ng-click="skipTo('home')"> <span class="logo-text">Roche pRED Clinical Operations Analytics Portal</span> <span class="header-info">Powered by pRED Informatics</span> </a> </h1> </div> <!-- avatar --> <div class="avatar dropdown dropdown--avatar icon icon--drop" data-js="dropdown"> <div class="avatar__thumb js-dropdown-trigger"> <img ng-src="http://we.intranet.roche.com/_layouts/Roche.Intranet.Portal/ProfilePhoto.ashx?size=Medium&u={{user.username}}" alt="{{user.firstName}} {{user.lastName}}"> </div> <div class="dropdown__body font-type-2 no-smooth"> <h3 class="dropdown__heading"> {{user.firstName}} {{user.lastName}} </h3> <div class="dropdown__group dropdown__divider" ng-show="user.isSuperUser"> <a ui-sref="administration.reports" class="dropdown__option"> <span class="icon icon--settings"> Administration </span> </a> </div> <div class="dropdown__group dropdown__divider"> <a ui-sref="signout" class="no-underline"> Log out </a> </div> </div> </div> <!-- END avatar --> <h2 class="logo logo--roche no-text"> Roche </h2> </div> <nav class="nav nav--primary no-smooth" id="menu"> <ul class="nav__items"> <!-- <li class="nav__item">
                <a ui-sref="dashboard" class="nav__link icon icon--home">
                    <span class="no-text">All reports</span>
                </a>
            </li> --> <li class="nav__item" ng-class="{'nav__item--disabled': category.child === 0}" ng-repeat="category in categories | orderBy: '+position' track by $index" ng-show="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0"> <a ng-click="skipTo(category.id)" class="nav__link" ng-if="category.child > 0"> {{category.name}} </a> <span class="nav__link" ng-if="category.child === 0"> {{category.name}} </span> </li> <li class="nav__item"> <div class="dropdown" data-js="dropdown"> <div class="nav__link js-dropdown-trigger"> <span class="icon icon--drop icon--after"> Help &amp; Info </span> <div class="dropdown__body"> <div class="dropdown__group"> <h3 class="dropdown__heading"> Help &amp; Information </h3> <div class="dropdown__option"> <a ng-click="actions.about.open()" class="no-underline"> About pRED Clinical Operations Analytics Portal </a> </div> <div class="dropdown__option"> <a ng-click="actions.contact.open()" class="no-underline"> Contact </a> </div> <!--
                                <div class="dropdown__option">
                                    <a href="help/userdoc.pdf#pagemode=bookmarks&nameddest=contents" class="no-underline" target="_blank">
                                        Help
                                    </a>
                                </div>
                                --> <div class="dropdown__option" ng-show="user.isSuperUser"> <a href="help/admindoc.pdf#pagemode=bookmarks&nameddest=contents" class="no-underline" target="_blank"> Help for admins </a> </div> <!--
                                <div class="dropdown__option">
                                    <a href="http://bo.roche.com" class="flex no-underline"  target="_blank">
                                        <span class="flex__item">
                                            Support for Business Objects
                                        </span>
                                        <div class="flex__item pull-1">
                                            <img src="images/links_sap.8a03c3ba.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                --> <div class="dropdown__option"> <a href="http://go.roche.com/spotfire" class="flex no-underline" target="_blank"> <span class="flex__item"> Support for Spotfire </span> <div class="flex__item pull-1"> <img src="images/links_spotfire.c4b9efbb.png" alt=""> </div> </a> </div> </div> </div> </div> </div> </li> </ul> </nav> <!-- need to append dashboard's subheader here --> </header> <!-- END app header --> <!-- side navigation --> <nav class="sideNav font-type-2 no-smooth" ng-click="hideMobileMenu()"> <ul class="sideNav__items"> <li class="sideNav__item" ng-click="actions.goto('dashboard')"> <a class="sideNav__link icon icon--home icon--size-l"> <span class="no-text">All reports</span> </a> </li> <li class="sideNav__item" ng-class="{'nav__item--disabled': category.child === 0}" ng-repeat="category in categories | orderBy: '+position' track by $index" ng-if="!category.overrideWithDirective.length || category.overrideWithDirective.length === 0"> <a class="nav__link" ng-show="category.child > 0" ng-click="skipTo(category.id)"> {{category.name}} </a> <span class="nav__link" ng-if="category.child === 0"> {{category.name}} </span> </li> <li class="sideNav__item"> <div class="sideNav__link"> <span class="icon icon--dropdown icon--after"> Help &amp; Info </span> </div> <ul class="sideNav__items"> <li class="sideNav__heading"> Help &amp; Information </li> <li class="sideNav__item"> <a ng-click="actions.about.open()" class="sideNav__link"> About pRED Clinical Operations </a> </li> <li class="sideNav__item"> <a ng-click="actions.contact.open()" class="sideNav__link"> Contact </a> </li> <!--
                <li class="sideNav__item">
                    <a href="help/userdoc.pdf#pagemode=bookmarks&nameddest=contents" target="_blank" class="sideNav__link">
                        Help
                    </a>
                </li>
                --> <li class="sideNav__item" ng-show="user.isSuperUser"> <a href="help/admindoc.pdf#pagemode=bookmarks&nameddest=contents" target="_blank" class="sideNav__link"> Help for admins </a> </li> <!--
                <li class="sideNav__item">
                    <a href="http://bo.roche.com" class="sideNav__link"  target="_blank">
                        Support for Business Objects
                    </a>
                </li>
                --> <li class="sideNav__item"> <a href="http://go.roche.com/spotfire" class="sideNav__link" target="_blank"> Support for Spotfire </a> </li> </ul> </li> </ul> </nav> <!-- END side navigation --> <!-- MODAL WINDOWS : stars here --> <!-- About : starts here --> <div class="modal" data-modalid="modal-about" ng-show="states.modals.about"> <div class="modal__dialog"> <div class="modal__header"> <h3 class="modal__heading font-type-2">About</h3> <button class="modal__close button button--transparent" ng-click="actions.about.close()"> <span class="icon icon--close icon--notext icon--size-m"> Close dialog </span> </button> </div> <div class="modal__body"> <dl class="list list--definitions"> <dt class="list__term">Application name <dd class="list__description">pRED Clinical Operations Analytics Portal <dt class="list__term">Environment <dd class="list__description">{{contents.environment.name | uppercase}} <dt class="list__term">Version <dd class="list__description">{{contents.environment.package.version}} <dt class="list__term">Description <dd class="list__description" ng-bind-html="contents.environment.package.description"> ...  </dl> </div> <div class="modal__controls"> <button class="button" ng-click="actions.about.close()">Close</button> </div> </div> </div> <!-- About : ends here --> <!-- Contact : starts here --> <div class="modal" data-modalid="modal-contact" ng-show="states.modals.contact"> <div class="modal__dialog"> <div class="modal__header"> <h3 class="modal__heading font-type-2">Contact</h3> <button class="modal__close button button--transparent" ng-click="actions.contact.close()"> <span class="icon icon--close icon--notext icon--size-m"> Close dialog </span> </button> </div> <div class="modal__body"> <!-- contact item --> <div class="contact flex align-top"> <div class="contact__thumb flex__item width-custom-1"> <img src="images/contact/devinen.d30da14a.jpg" alt=""> </div> <div class="contact__details flex__item flex__item--stretched pull-2"> <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth"> Niall Devine </h3> <div class="font-color-3 upwards-1"> Business Owner and first point of contact for users for access and training requests. </div> <div class="font-color-2"> <a href="mailto:niall.devine@roche.com" class="no-underline"> <span class="icon icon--email"> niall.devine@roche.com </span> </a> </div> </div> </div> <!-- END contact item --> <!-- contact item --> <div class="contact flex align-top downwards-4"> <div class="contact__thumb flex__item width-custom-1"> <img src="images/contact/rogersoa.8857897c.jpg" alt=""> </div> <div class="contact__details flex__item flex__item--stretched pull-2"> <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth"> Alan Rogerson </h3> <div class="font-color-3 upwards-1"> Application Manager and contact for technical issues. </div> <div class="font-color-2"> <a href="mailto:alan.rogerson@roche.com" class="no-underline"> <span class="icon icon--email"> alan.rogerson@roche.com </span> </a> </div> </div> </div> <!-- END contact item --> <!-- contact item --> <div class="contact flex align-top downwards-4"> <div class="contact__thumb flex__item width-custom-1"> <img src="images/contact/blumenrc.89da5b02.jpg" alt=""> </div> <div class="contact__details flex__item flex__item--stretched pull-2"> <h3 class="font-type-2 font-size-m font-color-2 upwards-1 no-smooth"> Christian Blumenr&ouml;hr </h3> <div class="font-color-3 upwards-1"> Application Operator and main contact for Spotfire issues. </div> <div class="font-color-2"> <a href="mailto:christian.blumenroehr@roche.com" class="no-underline"> <span class="icon icon--email"> christian.blumenroehr@roche.com </span> </a> </div> </div> </div> <!-- END contact item --> </div> <div class="modal__controls"> <button class="button" ng-click="actions.contact.close()">Close</button> </div> </div> </div> <!-- Contact : ends here --> <!-- MODAL WINDOWS : ends here -->