<main class="app__main additionalMargin"> <div class="container"> <!-- message --> <div class="message message--info" ng-show="states.message"> <div class="message__header"> <h4 class="message__heading"> Welcome to Administration </h4> <button class="message__button button button--transparent" title="Close this message" ng-click="action.closeMessage()"> <span class="icon icon--notext icon--close"> Close </span> </button> </div> <div class="message__body"> <p> Administrator functions allow you to manage reports, categories, user access and application- or system-related announcements. Under each tab, dialogs and tools will help you configure the Dashboard. </p> <p> You can see details on each administrator function in <a href="help/admindoc.pdf#pagemode=bookmarks&nameddest=contents" target="_blank">Help for admins</a>. </p> </div> </div> <!-- END message --> <h3 class="container__heading"> <span class="icon icon--settings icon--size-l">Administration</span> </h3> <div class="container__body"> <!-- tabs --> <div class="tabs js-tabs no-smooth"> <ul class="tabs__nav"> <li class="tabs__nav-item font-type-2" ng-class="{'is-active': activeTab == 0}" data-tabid="tab1" ui-sref="administration.reports"> Reports </li> <li class="tabs__nav-item font-type-2" ng-class="{'is-active': activeTab == 1}" data-tabid="tab2" ui-sref="administration.categories"> Categories </li> <li class="tabs__nav-item font-type-2" ng-class="{'is-active': activeTab == 2}" data-tabid="tab3" ui-sref="administration.groups"> Access &amp; Groups </li> <li class="tabs__nav-item font-type-2" ng-class="{'is-active': activeTab == 3}" data-tabid="tab3" ui-sref="administration.maintenance"> Maintenance </li> </ul> <div class="tabs__body"> <div class="tabs__body-item is-active"> <div ui-view="viewer"></div> </div> </div> </div> <!-- END tabs --> </div> <!--form enctype="multipart/form-data">
            <select ng-model="form.category">
                <option ng-repeat="category in categories track by $index" ng-value="category.id">{{category.name}}</option>
            </select>
            <hr/>
            <input type="text" ng-model="form.title" placeholder="Title"/><br/>
            <input type="text" ng-model="form.descriptionShort" placeholder="Short Description"/><br/>
            <input type="text" ng-model="form.embedURL" placeholder="Embedded URL"/><br/>
            <input type="file" id="coverPhoto"/><br/>
            <select ng-model="form.docType" placeholder="Document Type">
                <option ng-repeat="docType in docTypes track by $index" value="{{docType.id}}">{{docType.title}}</option>
            </select>
            <button ng-click="addItem()">Add Item</button>
        </form--> </div> </main>