/*csslint box-sizing: false, box-model: false, fallback-colors: false, known-properties: false, adjoining-classes: false */

/***
 * Form controls:
 */

.form {
	position: relative;
	margin: 0 auto;
}

/**
    * Input and textarea:
    * Use `.form__input` HTML class to display a standard input control.
    *
    * Display textarea using `.form__input--textarea` modifier.
    *
    * To display input or textarea with an icon use `.form` wrapper together with `.icon` HTML class.
    *
    *     @example
    *     div.example
    *     	// input default
    *     	input(type="text", placeholder="Input default").form__input
    *
    *     div.example.downwards-2
    *     	// input with icon
    *     	div.form.icon.icon--after.icon--search
    *     		input(type="text", placeholder="Input with icon").form__input
    *
    *     div.example.downwards-2
    *     	// textarea default
    *     	textarea(placeholder="Textarea default").form__input.form__input--textarea
    *
    *     div.example.downwards-2
    *     	// textarea with icon
    *     	div.form.icon.icon--after.icon--search
    *     		textarea(placeholder="Textarea with icon").form__input.form__input--textarea
    */
.form__input {
    position: relative;
    color: #544F4F;
    width: 100%;
    height: 4rem;
    border: 1px solid #C2BAB5;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    padding: 0 1rem;
}
.form__input--textarea {
    padding-top: 1rem;
    min-height: 8rem;
    resize: none;
}
.form__input:focus {
    box-shadow: 0 0 6px 2px hsla(0, 0%, 40%, 0.1);
    border: 1px solid hsl(0, 0%, 75%);
    outline: none;
}
.form__input:disabled {
    color: hsl(0, 0%, 39%);
    background-color: hsl(0, 0%, 96%);
}
.form__input-action {
    position: absolute;
    display: none;
    top: 1px;
    right: 1px;
    height: 92%;
    border: none;
    width: 30px;
    color: hsl(0, 0%, 60%);
    font-size: 1.6rem;
    background: #fff;
    z-index: 20;
    border: none;
}
.form__input-action:hover {
    color: hsl(0, 0%, 40%);
}
.form__checkbox {
    -webkit-appearance: checkbox;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    margin-top: -4px;
}

.form.icon::after {
    position: absolute;
    top: 1.2rem;
    right: .6rem;
    color: hsl(0, 0%, 80%);
    z-index: 10;
}
.form.icon .form__input {
    padding-right: 3rem;
}
.form__group {
    position: relative;
    margin-top: 1rem;
}
.form__label {
    display: inline-block;
    color: hsl(0, 0%, 20%);
    padding-bottom: .6rem;
}
.form__label::after {
    content: ":";
}
