# Styleguide options

### Head
    // modernizr detects browsers compatibility
    script(src="../js/vendors/modernizr/modernizr.custom.js")

    // normalize makes browsers render all elements more consistently
    link(rel="stylesheet" href="../css/vendors/normalize/normalize.css")

    // theme
    link(rel="stylesheet" href="../css/theme/theme-base.css")
    link(rel="stylesheet" href="../css/theme/theme-default.css")
    link(rel="stylesheet" href="../css/theme/theme-responsive.css")

    //components
    link(rel="stylesheet" href="../css/components/helpers/helpers.css")
    link(rel="stylesheet" href="../css/components/message/dropdown.css")
    link(rel="stylesheet" href="../css/components/button/button.css")
    link(rel="stylesheet" href="../css/components/icon/icon.css")
    link(rel="stylesheet" href="../css/components/form/form.css")
    link(rel="stylesheet" href="../css/components/list/list.css")
    link(rel="stylesheet" href="../css/components/message/message.css")
    link(rel="stylesheet" href="../css/components/tabs/tabs.css")
    link(rel="stylesheet" href="../css/components/modal/modal.css")

    // vendors
    link(rel="stylesheet" href="../css/vendors/select2/select2.css")
    link(rel="stylesheet" href="../css/vendors/jbox/jbox.css")

    // overrides
    link(rel="stylesheet" href="../css/overrides/select2/select2.css")
    link(rel="stylesheet" href="../css/overrides/sortable/sortable.css")
    link(rel="stylesheet" href="../css/overrides/jbox/jbox.css")
    
    // styledown specifc
    link(rel='stylesheet' href='../css/vendors/styledown/styledown.css')
    script(src='../js/vendors/styledown/styledown.js')


    style(type="text/css").
      #styleguides .sg-section:first-child h2.sg {
        padding-top: 2rem;
      }
      h2.sg {
        padding-top: 6rem;
        margin: 0;
      }
      .sg-section:not(:first-child) {
        margin-top: 4rem;
      }
      .nav--primary,
      .nav--primary::before,
      .nav--primary::after {
          background-image: none;
      }
      .list--guidelines {
      	font-size: 1.8rem;
      }
      .list--guidelines a {
      	text-decoration: none;
      }
      .list--guidelines .list__item {
      	padding: 0 1rem;
      	margin: 0;
      }
      .list--guidelines .list__item:not(:first-child) {
        border-left: 1px solid hsl(200, 88%, 44%);
      }
      .sg-example {
        color: hsl(0, 0%, 20%);
        font-size: 1.4rem;
        line-height: 1.6;
      }
      .example .col,
      .example .flex__item {
      	padding: 10px;
      	border: 1px dashed hsl(0, 0%, 87%);
      }


### Body
    div.app
      header.app__header
        div.flex
          h1.logo.logo--app.flex__item.flex__item--stretched.no-text pRED Portfolio Dashborad
          h2.logo.logo--roche.no-text Roche

        nav.nav.nav--primary.font-type-2#menu
          ul.nav__items
            li.nav__item
              a(href="#grid").nav__link Grid system
            li.nav__item
              a(href="#helpers").nav__link Helpers
            li.nav__item
              a(href="#form-controls").nav__link Form controls
            li.nav__item
              a(href="#messages").nav__link Messages
            li.nav__item
              a(href="#icons").nav__link Icons
            li.nav__item
              a(href="#buttons").nav__link Buttons
      

      main.app__main
        div.container
          div#styleguides(sg-content)
    

    script(src='../js/vendors/jquery/jquery-2.1.4.min.js')
    script(src='../js/vendors/fastclick/fastclick.js')
    script(src='../js/vendors/sortable/sortable.js')
    script(src='../js/vendors/select2/select2.js')
    script(src='../js/vendors/jbox/jbox.js')
    script(src='../js/vendors/resmenu/resmenu.js')
    script(src='../js/app.js')
