<main class="app__main additionalMargin" role="main"> <div class="container"> <!-- loader --> <div id="mainPreloader" class="hide"> <div class="loader loader--type-1 no-text"> Please wait </div> </div> <!-- END loader --> <p class="wait">{{firstName}}, please wait ...</p> </div> </main>