/*csslint box-sizing: false, box-model: false, fallback-colors: false, gradients: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false, font-sizes: false, bulletproof-font-face: false, universal-selector: false; */


/* For screen widths bigger than 1440px */
@media all and (min-width: 1441px) {
	.width-scalable.width-1-of-4 {
		width: 20%;
		min-width: 20%;
		max-width: 20%;
	}
}


/* For screen widths smaller than 1110px */
@media all and (max-width: 1110px) {
	.box {
		height: 268px;
	}
}


/* For screen widths smaller than 1024px */
@media all and (max-width: 1024px) {
	.app {
		width: 92%;
	}

	.app__main,
	.pane--filters,
	.app__header .flex:not(.pane) {
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
		.app--pushed .app__main,
		.app--pushed .app__header .pane--filters,
		.app--pushed .app__header .flex:not(.pane) {
			-webkit-transform: translate(330px, 0);
			transform: translate(330px, 0);
		}

	.app__footer::before,
	.nav--primary::before,
	.pane::before {
		width: 108%;
		left: -4%;
	}
	.pane--filters {
		margin-top: 1rem;
	}
		.pane--filters .width-scalable.width-1-of-3 {
			min-width: 33.3%;
			max-width: 33.3%;
			width: 33.3%;
		}
		.pane--filters .width-scalable.width-1-of-4 {
			min-width: 25%;
			max-width: 25%;
			width: 25%;
		}

	.nav--primary,
	.app__announcement .icon::before {
		display: none;
		visibility: hidden;
	}
	.app__announcement {
		padding: 1.5rem 2rem;
		min-width: 760px;
		z-index: 110;
	}
		.app__announcement:not(.hide) + .app .app__main {
			padding-top: 16rem;
		}
		.app__announcement:not(.hide) + .app .downwards-custom-1 {
			padding-top: 2rem;
		}
		.app__announcement:not(.hide) + .app .app__header .pane {
			padding-top: 1rem;
			margin-top: 15rem;
		}

	.sideNav {
		display: block;
	}
	.sideNav__trigger {
		display: block;
	}
	.app__header--filters + .app__main {
		padding-top: 2rem;
	}
		.app__header .flex:not(.pane) {
			position: fixed;
			width: 100%;
			min-width: 760px;
			top: 0;
			left: 0;
			padding: 1rem 3% 1.5rem;
			border-bottom: 1px solid hsl(0, 0%, 92%);
			background: #FFF;
			z-index: 100;
			box-shadow: 0 6px 6px -4px hsla(0, 0%, 0%, .2);
		}
		.app__header .pane {
			padding-top: 1rem;
			margin-top: 8rem;
		}

	.app__main {
		padding-top: 9rem;
	}
	.app__main.downwards-custom-1 {
		padding-top: 2rem;
	}
	.app--login {
		width: 100%;
	}
	.app--login .app__header,
	.app--login .login {
		width: 65%;
	}
	.nav--primary::before {
		background-image: none;
	}
		.app .box::before {
			opacity: 1;
		}
		.app .box__heading {
			font-size: 1.6rem;
		}
		.app .box__buttons {
			margin-top: 1rem;
		}
		.app .box__controls {
			display: block;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}

	.box {
		height: 240px;
	}
		.box__buttons,
		.box__updated,
		.box__description {
			padding-left: 1rem;
		}
		.box__link {
			color: hsl(210, 100%, 40%);
			text-decoration: underline;
		}

	.app .message {
		margin-top: 0;
	}
	.collapsible:not(:first-of-type) {
		margin-top: 2rem;
	}
	.width-scalable.width-1-of-4 {
		width: 33.33%;
		min-width: 33.33%;
		max-width: 33.33%;
	}
	.width-scalable.width-1-of-3 {
		width: 40%;
		min-width: 40%;
		max-width: 40%;
	}
	.modal .modal__dialog {
		width: 86%;
	}
}
