/*csslint box-sizing: false, box-model: false, fallback-colors: false, universal-selector: false, known-properties: false, adjoining-classes: false, bulletproof-font-face: false; */

/*
	BASE
	Should contain defaults and base rules.
	Essentially, a base style says that wherever this element is on the page,it should look like this (by default).
*/



html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font: normal 62.5% Helvetica, Arial, sans-serif;
	text-align: center;
}
body {
	position: relative;
	margin: 0 auto;
	min-width: 760px;
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: inherit;
	margin: 0;
}
h3 {
	font-size: 1.4rem;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
pre {
	margin: 0;
}
p {
	margin: 0 0 .6rem 0;
}
a {
	color: hsl(210, 100%, 40%);
	text-decoration: underline;
	white-space: normal;
	word-spacing: break-word;
}
	a:hover {
		color: hsl(200, 89%, 28%);
		text-decoration: none;
		cursor: pointer;
	}

input,
textarea {
	-webkit-appearance: none;
}
input::-ms-clear {
    display: none;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: hsl(0, 0%, 80%);
}
::-webkit-input-placeholder {
	color: hsl(0, 0%, 80%);
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

/* to make sure that text doesn't get highlighted while dragging */
[draggable] {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* secifies that specific element should be draggable instead of its contents */
[draggable] * {
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}
