/*
 * ANIMATIONS
 * Should contain all specific animations.
 */



.animate-fadeIn {
    -webkit-animation: fadeIn .5s ease-out;
    animation: fadeIn .5s ease-out;
}

.animate-fadeInDelayed {
    -webkit-animation: fadeInDelayed .5s ease-out;
    animation: fadeInDelayed .5s ease-out;
}

.animate-fadeInDownDelayed {
    -webkit-animation: fadeInDown .5s ease-out;
    animation: fadeInDown .5s ease-out;
}

.animate-fadeInDownMoreDelayed {
    -webkit-animation: fadeInDownMoreDelayed .5s ease-out;
    animation: fadeInDownMoreDelayed .5s ease-out;
}


/* Fade in animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Fade in delayed animation */
@-webkit-keyframes fadeInDelayed {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInDelayed {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade in and move down delayed animation */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -5px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(0, -5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(0, -5px);
    }
    50% {
        opacity: 0;
        transform: translate(0, -5px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


/* Fade in and move down more animation */
@-webkit-keyframes fadeInDownMoreDelayed {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -20px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(0, -20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
}
@keyframes fadeInDownMoreDelayed {
    0% {
        opacity: 0;
        transform: translate(0, -20px);
    }
    50% {
        opacity: 0;
        transform: translate(0, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


/* Spin animation */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}