/*csslint box-sizing: false, box-model: false, fallback-colors: false, gradients: false, known-properties: false, adjoining-classes: false, compatible-vendor-prefixes: false, font-sizes: false, bulletproof-font-face: false, universal-selector: false; */


/* font types */
/*@font-face {
	font-family: 'RobotoLight';
	src: url('fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}*/
/* END font types */



/* grouped rules */
.app__footer::before,
.nav--primary::before,
.pane::before {
	content: "";
	display: block;
	position: absolute;
	left: -8%;
	top: 0;
	width: 116%;
	height: 100%;
	z-index: -1;
}
/* END grouped rules */



/* application styles */
.app {
	position: relative;
	width: 86%;
	color: hsl(0, 0%, 20%);
	font-size: 1.3rem;
	margin: 0 auto;
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}
.app--login {
    width: 100%;
    padding-top: 3rem;
    background: url('img/background-1.png') repeat-x 0 142px;
}
.app--login .app__header,
.app--login .login {
    width: 40%;
    margin: 0 auto;
}
.app--login .app__header {
    position: static;
    padding-top: 0;
}

.app__main {
    padding: 13rem 0 0 0;
}
body.home .app__main {
    padding-top: 12rem;
}
.app__header--filters + .app__main {
    padding-top: 2rem;
}

.app__header {
    background: #fff;
    z-index: 60;
}
.app__header .nav,
.app__header .flex:not(.pane) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 6% 0;
    background: #FFF;
    z-index: 60;
}
.app__header .nav {
    top: 65px;
    box-shadow: 0 6px 12px -2px hsla(0, 0%, 0%, .4);
}
.app__header .pane {
    padding-top: 128px;
}
.app__header .flex:not(.pane) {
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0 6px 6px -4px hsla(0, 0%, 0%, .2);
}
.app__header .avatar {
    margin-right: .5em;
}

.app__footer,
.app__footer::before {
    background: #F5F5F2;
}
.app__footer {
    position: relative;
    font-size: 1.3rem;
    margin-top: 4rem;
    bottom: 0;
    height: 60px;
    z-index: 10;
}
.app__footer::before {
    border-top: 10px solid hsl(0, 0%, 90%);
}

.app__footer .nav--secondary a {
    padding: 0 .5rem;
}
.app__copyrights {
    color: hsl(0, 0%, 60%);
    font-size: inherit;
}
.app__copyrights span {
    padding: 0 .5rem;
}

/* = sticky footer */
.home #mainView {
    min-height: 100%;
    margin-bottom: -100px;
}
.home .mainContainer {
    height: 100%;
}

.app__announcement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 4.8rem 1.2rem 2rem;
    background: #FF7D29;
    border-bottom: 4px solid #FFBD69;
    color: #fff;
    line-height: 1.4;
    z-index: 500;
    text-align: center;
}
.app__announcement .icon::before {
    font-size: 3.2rem;
    position: absolute;
    top: calc(50% - 2.6rem);
    right: 2rem;
    opacity: .6;
}

/* TODO cut the monster selectors.. */
.app__announcement:not(.hide) + .app .app__main {
    padding-top: 20rem;
}
.app__announcement:not(.hide) + .app .app__header .nav {
    top: 125px;
}
.app__announcement:not(.hide) + .app .downwards-custom-1 {
    padding-top: 2rem;
}
.app__announcement:not(.hide) + .app .app__header .flex:not(.pane) {
    padding-top: 8rem;
}
.app__announcement:not(.hide) + .app .app__header .pane {
    padding-top: 1.5rem;
    margin-top: 19rem;
}
/* END application styles */

/* navigations styles */
.nav {
	position: relative;
	z-index: 5;
}
	.nav--primary {
		/*font-family: 'RobotoLight';*/
		padding: 2rem 0;
		margin: 1.5rem auto 0 auto;
		background: #0B41CD;
	}
	.nav--primary::before {
		background: #0B41CD url(img/icon-nav.png) no-repeat 7.5% center;
		background-size: auto 32px;
	}
	.nav__items {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
    .nav__items--mobile {
        text-align: center;
    }
    .nav__items--mobile.icon::before {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        margin-right: 1rem;
        vertical-align: sub;
    }
    .nav__items--mobile select {
        display: inline-block;
        font-size: 1.6rem;
        margin: 0 auto;
        background: #fff;
        border: none;
    }

    .nav__item {
        display: inline-block;
    }
    .nav__item--disabled {
        opacity: .5;
        pointer-events: none;
    }

    .nav__item--active {
        position: relative;
    }
    .nav__item--active::before {
        content: "";
        position: absolute;
        top: -110%;
        left: calc(50% - 14px);
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 14px solid #fff;
    }
    .nav__item .icon--drop::before,
    .nav__item .icon--drop::after {
        border-top-color: #fff;
    }

	.nav__link {
		color: #fff;
		font-size: 1.8rem;
		text-decoration: none;
		padding: 9px 1rem;
	}
    .nav__link:hover {
        color: #fff;
        background-color: #1482FA;
    }
    .nav__link.icon::before,
    .nav__link .icon::after {
        margin: -3px 0 0 0;
        padding: 0;
        font-size: 2rem;
        vertical-align: middle;
    }
    .nav__link .icon::after {
        margin-left: .4rem;
    }
/* END navigations styles */



/* logo styles */
.logo {
	display: inline-block;
	margin: 0;
	padding: 0;
}
	.logo__link {
		display: block;
		width: 200px;
		height: 40px;
		text-decoration: none;
	}
	.logo--app {
		width: 60%;
		height: 50px;
        margin-top: .5rem;
		background: url(img/logo-app.png) no-repeat;
		background-size: contain;
        background-position-y: center;
	}
	.logo--roche {
        margin: 0 1.25vw;
        width: 7rem;
        height: 4rem;
		background: url(img/logo-roche.png) no-repeat;
		background-size: 100%;
	}
/* END logo styles */



/* avatar styles */
.avatar {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.8rem;
    color: #0B41CD;
    font-weight: 500;
}

.avatar.icon {
    padding-right: 2rem;
}

.avatar.icon::before,
.avatar.icon::after {
    position: absolute;
    left: calc(100% - 1.5rem);
    top: calc(50% - .2rem);
    cursor: pointer;
    z-index: 50;
    border-top: 5px solid #C2BAB5;

}

/*.avatar {
	margin: 0;
	padding: 0;
	width: 62px;
	margin-right: 4rem;
	cursor: pointer;
}
	.avatar__thumb {
		width: 42px;
		height: 42px;
		overflow: hidden;
		border-radius: 100%;
		background: hsl(0, 0%, 0%);
		background: #fff url(img/avatar-placeholder.png) no-repeat;
		background-size: contain;
	}
	.avatar.icon {
		padding-right: 1rem;
	}
	.avatar.icon::before,
	.avatar.icon::after {
		position: absolute;
		left: calc(100% - 1.5rem);
		top: calc(50% - .2rem);
		cursor: pointer;
		z-index: 50;
		border-top: 5px solid #C2BAB5;

	}*/
/* END avatar styles */



/* container styles */
.container {
	color: #0B41CD;
}
	.container__heading {
		/*font-family: "RobotoLight", Helvetica, Arial, sans-serif;*/
		font-size: 2.1rem;
		padding: 1rem 1.2rem;
		border-bottom: 1px solid #C2BAB5;
		margin-bottom: 2rem;
	}
	.container__heading.collapsible__trigger:hover/*,
	.collapsible.is-collapsed .container__heading*/ {
		color: #1482FA;
	}

	/*.collapsible.is-collapsed .container__heading:hover {
		color: #BDE3FF;
	}*/
	.container__heading .button {
		position: relative;
	}
/* END container */



/* collapsible styles */
.collapsible,
.collapsible__trigger {
	position: relative;
}
	.collapsible:not(:first-of-type) {
		margin-top: 4rem;
	}
	.collapsible__trigger {
		cursor: pointer;
	}
	.collapsible__trigger.icon::before {
		position: absolute;
		right: 1rem;
		top: calc(50% - 1rem);
		margin: 0;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
	.collapsible.is-collapsed .collapsible__body {
		display: none;
	}
	.collapsible__trigger:hover,
	.collapsible.is-collapsed .collapsible__trigger {
		background: hsl(0, 0%, 96%);
	}
	.collapsible.is-collapsed .collapsible__trigger.icon::before {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
/* END collapsible styles */



/* pane styles */
.pane {
	position: relative;
	background: #F5F5F2;
}
	.pane--details {
		font-size: 1.4rem;
		background: #F5F5F2;
		margin-top: -2rem;
		padding: 2rem 3rem;
	}
	.pane--filters {
		padding: 1.0rem 0;
	}
		.pane--filters::before {
			background: #F5F5F2;
		}

	.pane__heading {
		font-size: 1.6rem;
	}
		.pane__heading .icon::before {
			color: #C2BAB5;
			margin-right: .2rem;
		}
		.pane__heading.is-filtered .icon::before {
			color: hsl(209, 66%, 70%);
		}
/* END pane styles */



/* box styles */
.box-simple {
	position: relative;
	display: block;
	margin: 1.5rem;
	padding: 2rem 2.5rem;
	background-color: #fff;
    text-align: center;
}
.box-simple__thumb {
    display: inline-block;
}
.box-simple__header {
    color: hsl(0, 0%, 20%);
    font-size: 1.8rem;
    margin: 0;
    padding: .6rem .4rem .6rem .4rem;
}
.box-simple__description {
    font-size: 1.4rem;
}
.box-simple__link:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.box {
	position: relative;
	display: block;
	margin: 1.5rem;
	padding: 2rem 2.5rem;
	border: 1px solid #C2BAB5;
	background-color: #fff;
	height: 230px;
}
	.box::before {
		content: "";
		position: absolute;
		width: 10px;
		height: 100%;
		left: 0;
		top: 0;
		opacity: .3;
		z-index: 20;
		transition: all .2s;
	}
    .box:hover::before {
        opacity: 1;
        width: 15px;
        transition: all .2s;
    }
	.box .button--transparent {
		min-width: 26px;
	}

	.box--multiple::after {
		content: "";
		position: absolute;
		z-index: -1;
		left: 2%;
		top: 3%;
		background: #F5F5F2;
		width: 98%;
		height: 94%;
		border: 1px solid hsl(0, 0%, 85%);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	.box__body {
		overflow: hidden;
	}
	.box__category {
		position: absolute;
		top: -1.5rem;
		right: 2rem;
		color: #fff;
		font-size: 1.1rem;
		padding: .6rem 1.5rem;
		background: #C2BAB5;
		text-transform: uppercase;
	}
    .box__category::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -13.5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #C2BAB5;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

	.box__heading {
		color: hsl(0, 0%, 20%);
		font-size: 1.7rem;
		margin: 0;
		padding: .2rem .4rem 0 .4rem;
	}
    .box:hover .box__heading {
        color: hsl(0, 0%, 20%);
    }

	.box__link {
		color: inherit;
		text-decoration: none;
	}
    .box:hover .box__link {
        color: #0B41CD;
        text-decoration: underline;
    }

	.box__thumb,
	.box__thumbs {
		position: absolute;
		width: 80%;
		margin: 0 auto;
		margin-top: 2rem;
		opacity: 1;
		transition: all .5s;
		max-height: 100px;
		overflow: hidden;
		z-index: 0;
	}
    .box__thumb img {
        transition: all .5s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .box:hover .box__thumb,
    .box--hovered .box__thumb {
        opacity: 0;
    }
    .box:hover .box__thumb img,
    .box--hovered .box__thumb img {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    .box__thumbs {
        min-height: 130px;
        max-height: none;
        margin-top: 0;
        overflow: visible;
    }
    .box__thumbs .box__thumb {
        width: 68%;
        max-height: 68px;
    }
    .box__thumbs .box__thumb:nth-child(1) {
        top: 2rem;
        left: 3rem;
        z-index: 5;
    }
    .box__thumbs .box__thumb:nth-child(2) {
        top: 4rem;
        left: 6rem;
        z-index: 10;
    }

    .box__thumb img {
        margin: 0 auto;
    }
    .box__thumbs img {
        max-width: 200%;
    }

	.box__buttons,
	.box__updated,
	.box__description {
		position: relative;
		padding: 0 0 0 3rem;
		margin-top: 1.2rem;
		opacity: 0;
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
		z-index: 5;
		transition: all .5s;
	}
	.box__updated {
		color: hsl(0, 0%, 60%);
		margin-top: 1.3rem;
	}
	.box__buttons {
		margin-top: 1.5rem;
	}
	.box__description {
		color: hsl(0, 0%, 40%);
		font-size: 1.3rem;
		line-height: 1.4;
		max-height: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
    .box:hover .box__buttons,
    .box:hover .box__updated,
    .box:hover .box__description,
    .box--hovered .box__description {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    .box--hovered .box__updated {
        display: none;
    }

	.box__controls {
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		padding-left: 2.5rem;
		background: #F5F5F2;
		border-top: 1px solid hsl(0, 0%, 85%);
		width: 100%;
		line-height: 32px;
		z-index: 10;
		transition: opacity .5s;

	}
    .box:hover .box__controls {
        opacity: 1;
    }
    .box__controls--draggable {
        color: hsl(0, 0%, 40%);
        cursor: move;
    }

	.box__actions {
		display: none;
	}
    .box__actions .button:not(:first-of-type) {
        margin-left: .5rem;
    }
    .box__actions .icon::after,
    .box__actions .icon::before {
        color: #C2BAB5;
    }
    .box__actions .button:hover .icon::after,
    .box__actions .button:hover .icon::before {
        color: hsl(0, 0%, 40%);
    }

	.box .icon--star-1::before,
	.box .icon--star-2::before {
		color: hsl(209, 67%, 70%);
		font-size: 2.4rem;
		margin: 0;
	}


	/* used for Tibco Spotfire category */
	.box--type-1::before,
	.box--type-1 .box__category,
	.row__category--type-1,
	.category--type-1 {
		background: hsl(209, 66%, 70%);
	}
    .box--type-1 .box__category::before {
        border-top-color: hsl(209, 66%, 60%);
    }

	/* used for Business Objects category */
	.box--type-2::before,
	.box--type-2 .box__category,
	.row__category--type-2,
	.category--type-2 {
		background: hsl(2, 64%, 58%);
	}
    .box--type-2 .box__category::before {
        border-top-color: hsl(2, 64%, 42%);
    }

	/* used for Power Point category */
	.box--type-3::before,
	.box--type-3 .box__category,
	.row__category--type-3,
	.category--type-3 {
		background: hsl(30, 88%, 51%);
	}
    .box--type-3 .box__category::before {
        border-top-color: hsl(30, 88%, 41%);
    }

	/* used for Excel category */
	.box--type-4::before,
	.box--type-4 .box__category,
	.row__category--type-4,
	.category--type-4 {
		background: hsl(160, 99%, 30%);
	}
    .box--type-4 .box__category::before {
        border-top-color: hsl(160, 99%, 20%);
    }

	/* used for Mashup category */
	.box--type-5::before,
	.box--type-5 .box__category,
	.row__category--type-5,
	.category--type-5 {
		background: hsl(240, 34%, 59%);
	}
    .box--type-5 .box__category::before {
        border-top-color: hsl(240, 34%, 45%);
    }

    /* used for Custom category */
    .box--type-6::before,
    .box--type-6 .box__category,
    .row__category--type-6,
    .category--type-6 {
        background: hsl(0, 0%, 73%);
    }
    .box--type-6 .box__category::before {
        border-top-color: hsl(0, 0%, 60%);
    }

    /* used for PDF category */
    .box--type-7::before,
    .box--type-7 .box__category,
    .row__category--type-7,
    .category--type-7 {
        background: hsl(0, 0%, 10%);
    }
    .box--type-7 .box__category::before {
        border-top-color: hsl(0, 0%, 0%);
    }


    /* used for Tableau category */
    .box--type-8::before,
    .box--type-8 .box__category,
    .row__category--type-8,
    .category--type-8 {
        background: hsl(300, 100%, 35%);
    }
    .box--type-8 .box__category::before {
        border-top-color: hsl(300, 100%, 25%);
    }

    /* used for Shortcuts category */
    .box--type-9::before,
    .box--type-9 .box__category,
    .row__category--type-9,
    .category--type-9 {
        background: #00f;
    }
    .box--type-9 .box__category::before {
        border-top-color: #0000c8;
    }
/* END box styles */



/* mashup styles */
.mashup .mashup__heading.container__heading {
	border-bottom: none;
}
.mashup__aside {
	background: #fff;
}
	.mashup__filters,
	.mashup__list {
		padding: 2rem 3rem 3rem;
	}
	.mashup__list {
		padding-bottom: 1rem;
	}
	.mashup__aside .mashup__heading {
		font-size: 1.6rem;
		color: hsl(0, 0%, 20%);
		margin: 0 0 1rem;
	}
		.mashup__aside .mashup__heading .icon::before,
		.mashup__aside .mashup__heading .icon::after {
			font-size: 1.8rem;
			color: #C2BAB5;
			margin: 0 .5rem .2rem 0;
		}

	.mashup__filters {
		background: #F5F5F2;
	}

.mashup__list .mashup__heading {
	color: hsl(0, 0%, 40%);
}
	.mashup__list .mashup__group:not(:first-of-type) {
		margin-top: 3rem;
	}

.mashup__list .box {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: auto;
	padding: 1rem 1rem 1rem 2rem;
	background: #F5F5F2;
	border: 1px solid hsl(0, 0%, 85%);
	margin: .5rem auto;
}
	.mashup__list .box:hover {
		background: hsl(50, 81%, 94%);
		border-color: hsl(0, 0%, 73%);
	}
	.mashup__list .button--transparent {
		min-width: 0;
	}
	.mashup__list .box__category,
	.mashup__list .box__updated,
	.mashup__list .box__description,
	.mashup__list .box__buttons,
	.mashup__list .box__controls,
	.mashup__list .box__thumb {
		display: none;
	}
	.app .mashup__list .box__heading {
		font-size: 1.3rem;
		color: hsl(0, 0%, 40%);
		padding-top: .3rem;
	}
	.mashup__list .box__header {
		-ms-flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
	}
	.mashup__list .box__heading {
		margin-left: .5rem;
	}
	.mashup__list .box__actions {
		display: block;
		white-space: nowrap;
		margin-top: .1rem;
		min-width: 4rem;
		text-align: right;
	}
	.mashup__list .box__controls {
		visibility: hidden;
	}
	.mashup__list .icon::after,
	.mashup__list .icon::before {
		font-size: 1.4rem;
	}
		.mashup__list .box__header .icon::after,
		.mashup__list .box__header .icon::before {
			font-size: 1.8rem;
		}

.mashup__items {
	position: relative;
	padding: 0 0 2rem 3rem;
}
	.mashup__items .mashup__heading {
		display: inline-block;
		font-size: 1.6rem;
		color: hsl(0, 0%, 20%);
		margin: 0 0 1rem;
	}
	.mashup__items .box {
		margin-left: 0;
		margin-right: 0;
		margin-top: 3rem;
		min-height: 230px;
		padding-bottom: 5rem;
		height: auto;
	}
	.mashup__items .box__updated,
	.mashup__items .box__description,
	.mashup__items .box__controls,
	.mashup__items .box__buttons,
	.mashup__items .box::before,
	.mashup__items .box:hover .box__thumb,
	.mashup__items .box:hover .box__thumb img {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
	.mashup__items .box__thumb {
		position: relative;
		float: right;
		max-width: 40%;
		margin: .5rem 0 0 0;
		clear: both;
	}
.mashup__drop {
	color: #F2F2F2;
	position: absolute;
	top: 380px;
	height: calc(96% - 350px);
	width: calc(100% - 3rem);
	border: 1px dashed #CCC;
	font-size: 6rem;
	text-align: center;
	padding: 6rem 1rem;
	z-index: -1;
}
/* END mashup */


/* rows styles */
.rows {
	margin-top: 2rem;
	font-size: 1.5rem;
}
.rows .rows__group:not(:first-of-type) {
    margin-top: 3rem;
}
.rows__heading {
    color: hsl(0, 0%, 40%);
    font-size: 1.8rem;
    margin: 0 0 1rem;
    padding: 0 0 .6rem 2rem;
    border-bottom: 1px solid hsl(0, 0%, 87%);
}
.rows__heading-label {
    font-size: .9em;
    font-weight: 200;
}
.rows__heading .icon::before,
.rows__heading .icon::after {
    color: #C2BAB5;
    font-size: 2rem;
}

.row {
    position: relative;
    color: hsl(0, 0%, 40%);
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid #fff;
}
.rows .row:nth-child(odd) {
    background: hsl(0, 0%, 97%);
}
.rows .row:hover {
    color: hsl(0, 0%, 0%);
    background: #fff;
    border: 1px solid #C2BAB5;
    box-shadow: 0 0 6px 2px hsla(0, 0%, 40%, 0.1);
}

.row__category {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    z-index: 50;
}
    .row__category + .row__heading {
        padding-left: 2rem;
    }

.row__details {
    color: #C2BAB5;
    font-style: 1.1rem;
}

.row .icon::before {
    color: hsl(0, 0%, 60%);
}
.row__actions .button:not(:first-of-type) {
    padding-left: .4rem;
}
.row:not(:hover) .row__actions,
.row:hover .row__category {
    visibility: hidden;
}
/* END rows */



/* category styles */
.category {
	color: #fff;
	font-size: 1.1rem;
	display: inline-block;
	padding: .4rem 1rem;
	line-height: normal;
	text-transform: uppercase;
	white-space: nowrap;
}
/* END category styles */


/* iframe styles */
.iframe {
	position: relative;
	border: 1px solid hsl(0, 0%, 85%);
}
.iframe iframe {
  width: 100%;
  height: 768px;
  border: none;
  background: #F5F5F2;

}

.iframe iframe #WACContainer {
  height: auto !important;
}

#WACContainer {
  height: auto !important;
}
  /* END iframe styles */


/* side nav styles */
.sideNav,
.sideNav__trigger {
	background: #0B41CD;
}
.sideNav {
	display: none;
	position: fixed;
	width: 330px;
	height: 100%;
	color: #fff;
	font-size: 2rem;
	padding: 1rem 1.5rem;
	overflow: auto;
	z-index: 150;
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
.sideNav--pulled {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}
.sideNav__heading {
    opacity: .6;
    padding: 2rem 0 .2rem .5rem;
}
.sideNav__trigger {
    display: none;
    width: 42px;
    height: 42px;
    border: none;
    margin-right: 2rem;
    border-radius: 6px;
}
.sideNav__trigger.icon::before {
    color: #fff;
    font-size: 1.6rem;
}
.sideNav__link .icon::before {
    vertical-align: top;
}

.sideNav__link,
.sideNav__link:hover {
    color: inherit;
    text-decoration: none;
}
.sideNav__link:hover {
    opacity: .6;
}

.sideNav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.sideNav__item {
    padding: 2rem 3rem;
    margin: 0;
}
.sideNav__item:not(:first-child) {
    border-top: 1px solid hsl(210, 66%, 70%);
}
.sideNav__item .sideNav__items {
    color: hsl(210, 65%, 91%);
    font-size: 1.6rem;
}
.sideNav__item .sideNav__item {
    border-top: none;
    padding: 1rem 0 1rem 2rem;
}
/* END side nav styles */

/* contact styles */
.contact__thumb {
	border: 1px solid hsl(0, 0%, 86%);
}
	.contact__thumb img {
		width: 100%;
		margin: 0 auto;
	}
/* END contact styles */


/* extended helpers styles */
.font-type-1 {
	/*font-family: Arial, Helvetica, sans-serif;*/
}
.font-type-2 {
	/*font-family: 'RobotoLight', Helvetica, Arial, sans-serif;*/
}

.font-color-1 {
	color: #0B41CD;
}
.font-color-2 {
	color: #000;
}
.font-color-3 {
	color: #706B69;
}
.font-color-4 {
	color: #0B41CD;
}
.font-color-5 {
	color: #FF1F26;
}

.font-size-xs {
	font-size: 1.1rem;
}
.font-size-s {
	font-size: 1.4rem;
}
.font-size-m {
	font-size: 1.6rem;
}
.font-size-l {
	font-size: 2.1rem;
}
.font-size-xl {
	font-size: 2.6rem;
}

.width-custom-1 {
	width: 12%;
	min-width: 110px;
	max-width: 110px;
	max-height: 120px;
	overflow: hidden;
}
.highlight {
	background-color: hsla(60, 100%, 50%, .5);
}
.no-smooth,
.no-smooth * {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-smoothing: auto;
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.downwards-custom-1 {
	padding-top: 2rem;
}
.no-touch .only-mobile,
.touch .only-desktop {
	display: none !important;
}
/* END extended helpers styles */



/* angular specific styles */
.ng-hide {
	display: none;
}
	.ng-hide .modal__dialog {
		display: none;
		-webkit-animation: none;
		animation: none;
	}

.ng-invalid.ng-touched {
	background: #fff;
	border-color: hsl(2, 64%, 58%);
}
.js-sortable--empty {
	min-height: 200px;
}
/* END angular specific styles */
